<!DOCTYPE html>
<html lang="en">
  {%load static%}

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!----TAB NAME------------------------------------------------>
    <title>UITC RECORDS</title>
    <!----TAB ICON------------------------------------------------>
    <link rel="icon" href="{% static 'images/TUP_LOGO.png'%}" />
    <!----CSS AND JS------------------------------------------------>
    <script src="{% static 'js/3F_rec1.1(uitc).js'%}"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/2F_records1.1(uitc).css'%}"
    />

    <!----BOOTSTRAP LINK------------------------------------------------>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <!----ADD UP------------------------------------------------>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!----icon---------->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <!----font links---------->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,500;1,300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div
      class="modal fade"
      id="logout"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">LOGOUT</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">Are you sure you want to logout?</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              Cancel
            </button>
            <a
              href="{% url 'TupcSysApp:logout'%}"
              style="color: white"
              type="button"
              class="btn btn-primary"
              >Log out</a
            >
          </div>
        </div>
      </div>
    </div>
    <!--NAVBAR1-------------------------------------------------------------------------------------------->

    <nav class="navbar van">
      <span
        style="font-size: 30px; cursor: pointer"
        onclick="openNav()"
        id="openbtn"
        >&#9776;
      </span>
      <div id="titulo">
        <a class="navbar-brand" id="title" href="#">RECORDS</a>
      </div>
      <img
        src="{% static 'images/TUP_LOGO.png'%}"
        width="100"
        height="80"
        alt="tuplogo"
        id="logo"
      />
    </nav>

    <!--NAVBAR2-------------------------------------------------------------------------------------------->
    <nav class="navbar navbar-expand-lg van2">
      <a class="navbar-brand" href="#"></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon">&#9776;</span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" id="actibo">
            <a class="nav-link" href="{% url 'TupcSysApp:UitcRec1'%}">ID</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'TupcSysApp:UitcRec2'%}"
              >INTERNET CONNECTIVITY</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'TupcSysApp:UitcRec3'%}"
              >LAB SCHEDULE</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'TupcSysApp:UitcRec4'%}"
              >REPORTS</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <!--BREADCRUMB-------------------------------------------------------------------------------------------->

    <nav aria-label="breadcrumb ">
      <ol class="breadcrumb collapsed">
        <li class="mx-2 ml-auto active">
          <a href="#" id="bc">EMPLOYEE ID RECORD</a>
        </li>
      </ol>
      <script type="text/javascript">
        $(document).on("click", "ol, li", function () {
          $(this).addClass("active").siblings().removeClass("active");
        });
      </script>
    </nav>

    <div>
      <div class="container-fluid">
        <!--SIDEBAR-------------------------------------------------------------------------------------------->

        <div class="row no-gutters">
          <div class="col-xl-1 text-center">
            <div id="mySidebar" class="sidebar">
              <button class="closebtn" id="close" onclick="closeNav()">
                &times;
              </button>
              <a href="{% url 'TupcSysApp:UitcHome'%}"
                ><i class="fa fa-lg fa-user-circle" aria-hidden="true"
                  ><br />
                  <h6 id="icons">HOME</h6></i
                ></a
              >
              <a href="{% url 'TupcSysApp:UitcID'%}"  ><i class="fa fa-lg fa-id-card" aria-hidden="true"><br><h6 id="icons">ID'S</h6></i> <span class="badge" id = "id_notif" name = "id_notifs" hidden>{{data1.Faculty_ID}}</span></a>
              <a href="{% url 'TupcSysApp:UitcInternet'%} "><i class="fa fa-lg fa-lg-1x fa-wifi" aria-hidden="true"><br><h6 id="icons">INTERNET</h6></i><span class="badge" id = "net_notif" name = "net_notifs" hidden>{{data2}}</span></a>
              <a href="{% url 'TupcSysApp:UitcLabsched'%}" ><i class="fa fa-lg fa-calendar" aria-hidden="true"><br><h6 id="icons">SCHEDULE</h6></i><span class="badge" id = "sched_notif" name = "sched_notifs" hidden>{{data1.Faculty_Laboratory}}</span></a>
              <a href="{% url 'TupcSysApp:UitcReports'%}"><i class="fa fa-lg fa-file-text" aria-hidden="true"><br><h6 id="icons">REPORTS</h6></i> <span class="badge" id = "report_notif" name = "report_notifs" hidden>{{data3}}</span></a>
              <a href="{% url 'TupcSysApp:UitcRec1'%}" id="active"
                ><i class="fa fa-lg fa-clipboard" aria-hidden="true"
                  ><br />
                  <h6 id="icons">RECORDS</h6></i
                ></a
              >
              <a href="{% url 'TupcSysApp:UitcPermission'%}"
                ><i class="fa fa-lg fa-address-card" aria-hidden="true"
                  ><br />
                  <h6 id="icons">USERS</h6></i
                ></a
              >
              <a href="{% url 'TupcSysApp:UitcInventory'%}"
                ><i class="fa fa-lg fa-archive" aria-hidden="true"
                  ><br />
                  <h6 id="icons">INVENTORY</h6></i
                ></a
              >
              <a href="" data-toggle="modal" data-target="#logout"
              id="lo" data-toggle="tooltip" data-placement="top" title="Logout"><i class="fa fa-arrow-circle-left" aria-hidden="true"
                  ><br />
                  </i
                ></a
              >
            </div>
          </div>

          <!--CARD-------------------------------------------------------------------------------------------->

          <div class="col-xl-11 main">
            <div
              class="container-fluid text-center d-flex justify-content-center align-items-center"
            >
              <br /><br />
              <div class="col-xl-12">
                <form>
                  <div class="form-row">
                    <div class="col-xl-9 col-lg-8 col-12">
                      <input
                        type="text"
                        id="myInput"
                        onkeyup="myFunction()"
                        class="form-control my-2 p-2"
                        placeholder="Search for names.."
                        title="Type in a name"
                      />
                    </div>
                    <!--BUTTONS-------------------------------------------------------------------------------------------->
                    
                    <div class="dropdown col-xl-3 col-lg-4 col-12">
                      <button
                        class="btn btn-success dropdown-toggle my-2 p-2 btn-block"
                        type="button"
                        id="dropdownMenuButton"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        Sorted by:
                      </button>
                      <div
                        class="dropdown-menu"
                        aria-labelledby="dropdownMenuButton"
                      >
                        <a class="dropdown-item" href="#">Date</a>
                        <a class="dropdown-item" href="#" onclick="sortTable(0)"
                          >First Name</a
                        >
                        <a class="dropdown-item" href="#" onclick="sortTable(2)"
                          >Last Name</a
                        >
                      </div>
                    </div>
                  </div>
                </form>
                <div class="jumbotron m-1">
                  <br />

                  <div class="card-body">
                    <form>
                      <div class="formtitle">EMPLOYEE ID RECORD</div>
                      <div class="table-responsive-xl col-xl-12" id="idtable">
                        <table class="table" id="myTable">
                          <thead class="thead">
                            <tr>
                              <th scope="col">PICTURE</th>
                              <th scope="col">FIRST NAME</th>
                              <th scope="col">MIDDLE NAME</th>
                              <th scope="col">LAST NAME</th>
                              <th scope="col">SUFFIX</th>
                              <th scope="col">EMPLOYEE NO.</th>
                              <th scope="col">DEPARTMENT</th>
                              <th scope="col">DATE REQSTD</th>
                              <th scope="col">DATE RLSD</th>
                              <th scope="col">GSIS</th>
                              <th scope="col">TIN</th>
                              <th scope="col">PAG-IBIG</th>
                              <th scope="col">GSIS POLICY NO.</th>
                              <th scope="col">PHILHEALTH</th>
                              <th scope="col">OTHER</th>
                              <th scope="col">CONTACT PERSON</th>
                              <th scope="col">C.P NUMBER</th>
                              <th scope="col">ADDRESS</th>
                              <th scope="col">SIGNATURE</th>
                              <th scope="col">STATUS</th>
                              <th scope="col">Download PDF</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              {% for p in data %}
                              <td><a href="{{p.f_pic}}" download>
                                <img src="{{p.f_pic}}" width="100" height="100">
                                click to download
                              </a></td>
                              <td>{{p.ff_name}}</td>
                              <td>{{p.fm_name}}</td>
                              <td>{{p.fl_name}}</td>
                              <td>{{p.f_suffix}}</td>
                              <td>{{p.f_emp}}</td>
                              <td>{{p.f_dept}}</td>
                              <td>{{p.f_datereq}}</td>
                              <td>{{p.f_daterel}}</td>
                              <td>{{p.f_gsis}}</td>
                              <td>{{p.f_gsisp}}</td>
                              <td>{{p.f_tin}}</td>
                              <td>{{p.f_pagibig}}</td>
                              <td>{{p.f_phil}}</td>
                              <td>{{p.f_other}}</td>
                              <td>{{p.f_cp}}</td>
                              <td>{{p.f_num}}</td>
                              <td>{{p.f_add}}</td>
                              <td>
                              <a href="{{p.f_signature}}" download>
                                <img src="{{p.f_signature}}" width="250" height="150">
                                click to download
                              </a></td>
                              <td>{{p.f_stat}}</td>
                              <td>
                                <div
                                  class="col-xl-12 d-flex justify-content-center align-items-center"
                                >
                                  <a
                                    type="button"
                                    class="btn btn-success my-lg-1 my-md-2 my-sm-2 my-1 px-5"
                                    id="btn3"
                                    href="{% url 'TupcSysApp:employeeID_dl' p.pk%}"
                                    title="Download"
                                    ><i
                                      class="fa fa-arrow-circle-down"
                                      aria-hidden="true"
                                    ></i
                                  ></a>
                                </div>
                              </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>

                        <script>
                          function sortTable(n) {
                            var table,
                              rows,
                              switching,
                              i,
                              x,
                              y,
                              shouldSwitch,
                              dir,
                              switchcount = 0;
                            table = document.getElementById("myTable");
                            switching = true;
                            // Set the sorting direction to ascending:
                            dir = "asc";
                            /* Make a loop that will continue until
                                          no switching has been done: */
                            while (switching) {
                              // Start by saying: no switching is done:
                              switching = false;
                              rows = table.rows;
                              /* Loop through all table rows (except the
                                            first, which contains table headers): */
                              for (i = 1; i < rows.length - 1; i++) {
                                // Start by saying there should be no switching:
                                shouldSwitch = false;
                                /* Get the two elements you want to compare,
                                              one from current row and one from the next: */
                                x = rows[i].getElementsByTagName("TD")[n];
                                y = rows[i + 1].getElementsByTagName("TD")[n];
                                /* Check if the two rows should switch place,
                                              based on the direction, asc or desc: */
                                if (dir == "asc") {
                                  if (
                                    x.innerHTML.toLowerCase() >
                                    y.innerHTML.toLowerCase()
                                  ) {
                                    // If so, mark as a switch and break the loop:
                                    shouldSwitch = true;
                                    break;
                                  }
                                } else if (dir == "desc") {
                                  if (
                                    x.innerHTML.toLowerCase() <
                                    y.innerHTML.toLowerCase()
                                  ) {
                                    // If so, mark as a switch and break the loop:
                                    shouldSwitch = true;
                                    break;
                                  }
                                }
                              }
                              if (shouldSwitch) {
                                /* If a switch has been marked, make the switch
                                              and mark that a switch has been done: */
                                rows[i].parentNode.insertBefore(
                                  rows[i + 1],
                                  rows[i]
                                );
                                switching = true;
                                // Each time a switch is done, increase this count by 1:
                                switchcount++;
                              } else {
                                /* If no switching has been done AND the direction is "asc",
                                              set the direction to "desc" and run the while loop again. */
                                if (switchcount == 0 && dir == "asc") {
                                  dir = "desc";
                                  switching = true;
                                }
                              }
                            }
                          }
                          // convert table to excel
                          function exportTableToExcel(
                            myTable,
                            filename = "EMPLOYEE ID RECORD"
                          ) {
                            var downloadLink;
                            var dataType = "application/vnd.ms-excel";
                            var tableSelect = document.getElementById(myTable);
                            var tableHTML = tableSelect.outerHTML.replace(
                              / /g,
                              "%20"
                            );

                            // Specify file name
                            filename = filename
                              ? filename + ".xls"
                              : "excel_data.xls";

                            // Create download link element
                            downloadLink = document.createElement("a");

                            document.body.appendChild(downloadLink);

                            if (navigator.msSaveOrOpenBlob) {
                              var blob = new Blob(["\ufeff", tableHTML], {
                                type: dataType,
                              });
                              navigator.msSaveOrOpenBlob(blob, filename);
                            } else {
                              // Create a link to the file
                              downloadLink.href =
                                "data:" + dataType + ", " + tableHTML;

                              // Setting the file name
                              downloadLink.download = filename;

                              //triggering the function
                              downloadLink.click();
                            }
                          }
                        </script>
                      </div>
                      <script>
                        function myFunction() {
                          var input, filter, table, tr, td, i, txtValue;
                          input = document.getElementById("myInput");
                          filter = input.value.toUpperCase();
                          table = document.getElementById("myTable");
                          tr = table.getElementsByTagName("tr");
                          for (i = 0; i < tr.length; i++) {
                            td = tr[i].getElementsByTagName("td")[1];
                            if (td) {
                              txtValue = td.textContent || td.innerText;
                              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                tr[i].style.display = "";
                              } else {
                                tr[i].style.display = "none";
                              }
                            }
                          }
                        }
                      </script>
                    </form>
                    <div>Download Records</div>
                    <div
                      class="col-xl-12 d-flex justify-content-center align-items-center"
                    >
                      <button
                        type="button"
                        class="btn btn-success my-lg-1 my-md-2 my-sm-2 my-1 px-5"
                        onclick="exportTableToExcel('myTable', 'Employee_ID_Record')"
                        title="Download"
                      >
                        <i
                          class="fa fa-arrow-circle-down"
                          aria-hidden="true"
                        ></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--BG CALL-------------------------------------------------------------------------------------------->
        <div id="pic" class="view drk"></div>
      </div>
    </div>
  </body>
</html>
