<!DOCTYPE html>
<html lang="en">
{% load static%}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!----TAB NAME------------------------------------------------>
    <title>TUPC ONLINE SYSTEM</title>
    <!----TAB ICON------------------------------------------------>
    <link rel="icon" href="{%static 'images/TUP_LOGO.png'%}">
    <!----CSS AND JS------------------------------------------------>
    <script src="{% static 'js/3I_rec1.4(uitc).js'%}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/2I_records1.4(uitc).css'%}">

    <!----BOOTSTRAP LINK------------------------------------------------>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!----ADD UP------------------------------------------------>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!----icon---------->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!----font links---------->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,500;1,300&display=swap" rel="stylesheet">

</head>

<body>
    <!--NAVBAR1-------------------------------------------------------------------------------------------->

    <nav class="navbar van">

        <span style="font-size:30px;cursor:pointer" onclick="openNav()" id="openbtn">&#9776; </span>
        <div id="titulo">
            <a class="navbar-brand" id="title" href="#">RECORDS</a>
        </div>
        <img src="{% static 'images/TUP_LOGO.png'%}" width="100" height="80" alt="tuplogo" id="logo">

    </nav>

    <!--NAVBAR2-------------------------------------------------------------------------------------------->
    <nav class="navbar navbar-expand-lg van2">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">&#9776;</span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'TupcSysApp:UitcRec1'%}">ID</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" href="{% url 'TupcSysApp:UitcRec2'%}">INTERNET CONNECTIVITY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'TupcSysApp:UitcRec3'%}">LAB SCHEDULE</a>
                </li>
                <li class="nav-item" id="actibo">
                    <a class="nav-link" href="{% url 'TupcSysApp:UitcRec4'%}">REPORTS</a>
                </li>
            </ul>

        </div>
    </nav>
    <!--BREADCRUMB-------------------------------------------------------------------------------------------->

    <nav aria-label="breadcrumb ">
        <ol class="breadcrumb ">
            <li class="breadcrumb-item ml-auto" onclick="reportandmaintenance()"><a href="#">REPAIR AND MAINTENANCE RECORD</a></li>
            <li class="breadcrumb-item" onclick="maintenance()"><a href="#">MAINTENANCE RECORD</a></li>
            <li class="breadcrumb-item" onclick="borrow()"><a href="#">BORROW RECORD</a></li>
            <li class="breadcrumb-item" onclick="inventory()"><a href="#">INVENTORY</a></li>

        </ol>
    </nav>

    <div>
        <div class="container-fluid ">

            <!--SIDEBAR-------------------------------------------------------------------------------------------->

            <div class="row no-gutters">
                <div class="col-xl-1 text-center">
                    <div id="mySidebar" class="sidebar">
                        <button class="closebtn" id="close" onclick="closeNav()">&times; </button>
                        <a href="{% url 'TupcSysApp:UitcHome'%}"><i class="fa fa-2x fa-user-circle " aria-hidden="true"><br><h6 id="icons">HOME</h6></i></a>
                        <a href="{% url 'TupcSysApp:UitcID'%}"  ><i class="fa fa-2x fa-id-card" aria-hidden="true"><br><h6 id="icons">ID'S</h6></i></a>
                        <a href="{% url 'TupcSysApp:UitcInternet'%}"><i class="fa fa-2x fa-lg-1x fa-wifi" aria-hidden="true"><br><h6 id="icons">INTERNET</h6></i></a>
                        <a href="{% url 'TupcSysApp:UitcLabsched'%}"><i class="fa fa-2x fa-calendar" aria-hidden="true"><br><h6 id="icons">SCHEDULE</h6></i></a>
                        <a href="{% url 'TupcSysApp:UitcReports'%}"><i class="fa fa-2x fa-file-text" aria-hidden="true"><br><h6 id="icons">REPORT</h6></i></a>
                        <a href="{% url 'TupcSysApp:UitcRec1'%}" id="active"><i class="fa fa-2x fa-clipboard" aria-hidden="true"><br><h6 id="icons">RECORDS</h6></i></a>
                        <a href="{% url 'TupcSysApp:UitcPermission'%}"><i class="fa fa-2x fa-address-card" aria-hidden="true"><br><h6 id="icons">PERMISSION</h6></i></a>
                        <a href="{% url 'TupcSysApp:logout'%}"><i class="fa fa-2x fa-sign-out" aria-hidden="true"><br><h6 id="icons">LOG OUT</h6></i></a>
                    </div>
                </div>

                <!--CARD-------------------------------------------------------------------------------------------->
                <div class="col-xl-11 main">                    
                    <div class="container-fluid text-center d-flex justify-content-center align-items-center"><br><br>
                      <!--TABLE 1 REPAIR AND MAINTENANCE RECORD-------------------------------------------------------------------------------------------->
                
                      <div id="table1" class="col-xl-11" >
                            
                        <form>
                            <div class="form-row">

                                <div class="col-xl-9 col-lg-8 col-12">
                                    <input type="text" class="form-control my-2 p-2" placeholder="Search....">
                                </div>
                                <!--BUTTONS-------------------------------------------------------------------------------------------->
                                <div class="col-xl-1 col-lg-2 col-12">
                                    <button type="button" class="btn btn-primary btn-block my-2 p-2">Search</button>
                                </div>
                                <div class="dropdown col-xl-2  col-lg-2 col-12">
                                    <button class="btn btn-success dropdown-toggle my-2 p-2  btn-block"  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Sorted by:
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Date</a>
                                        <a class="dropdown-item" href="#">Ascending</a>
                                        <a class="dropdown-item" href="#">Descending</a>
                                    </div>
                                  </div>
                            </div>
                        </form>
                        <div class="jumbotron  m-1"><br>
                            
                            
                          <div class="card-body">
                              <form>
                                  <div class="formtitle">
                                      REPAIR AND MAINTENANCE RECORD
                                  </div>
                                  <div class="table-responsive-xl col-xl-12" id="idtable1">
                                    <table class="table">
                                        <thead class="thead">
                                          <tr>
                                            <th scope="col">TYPE</th>
                                            <th scope="col">BRAND/MODEL</th>
                                            <th scope="col">SERIAL#</th>
                                            <th scope="col">SPECIFICATION</th>
                                            <th scope="col">NATURE OF WORK TO BE DONE</th>
                                            <th scope="col">FULL NAME</th>
                                            <th scope="col">POSITION /JOB</th>
                                            <th scope="col">DEPARTMENT</th>
                                            <th scope="col">SIGNATURE</th>
                                            <th scope="col">DATE</th>
                                            <th scope="col">TIME</th>
                                            <th scope="col">INITIAL ASSESSMENT</th>
                                            <th scope="col">ACCESSED BY</th>
                                            <th scope="col">SIGNATURE</th>
                                            <th scope="col">DATE ASSIGNED</th>
                                            <th scope="col">PERSONAL ASSIGNED</th>
                                            <th scope="col">QUANTITY</th>
                                            <th scope="col">UNITS</th>
                                            <th scope="col">PARTICULARS</th>
                                            <th scope="col">AVAILABILITY</th>
                                            <th scope="col">APPROVAL</th>
                                            <th scope="col">NOTE</th>
                                            <th scope="col">COORDINATOR</th>
                                            <th scope="col">SIGNATURE</th>
                                            <th scope="col">DATE</th>
                                            <th scope="col">TIME</th>
                                            <th scope="col">UITC PERSONNEL</th>
                                            <th scope="col">SIGNATURE</th>
                                            <th scope="col">DATE STARTED</th>
                                            <th scope="col">TIME STARTED</th>
                                            <th scope="col">DATE ENDED</th>
                                            <th scope="col">TIME ENDED</th>
                                            <th scope="col">SOLUTION AND RECOMMENDATION</th>
                                            <th scope="col">ACCEPTED OR REJECTED</th>
                                            <th scope="col">END-USER</th>
                                            <th scope="col">DATE</th>
                                            <th scope="col">SIGNATURE</th>
                                            <th scope="col">TIME</th>
                                            <th scope="col">STATUS</th>
                                            <th scope="col">ACTION</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td>emptysdsadsdsdasddw</td>
                                            <td>emptysdsadsdsdasddw</td>
                                            <td>emptysdsadsdsdasddw</td>
                                            <td>emptysdsadsdsdasddw</td>
                                            <td>emptysdsadsdsdasddw</td>
                                            <td>emptysdsadsdsdasddw</td>
                                            <td>emptysdsadsdsdasddw</td>
                                            <td>emptysdsadsdsdasddw</td>
                                            <td>emptysdsadsdsdasddw</td>
                                            <td>emptysdsadsdsdasddw</td>
                                            <td>emptysdsadsdsdasddw</td>
                                            <td>emptysdsadsdsdasddw</td>
                                            <td>emptysdsadsdsdasddw</td>
                                            <td>emptysdsadsdsdasddw</td>
                                            <td>emptysdsadsdsdasddw</td>
                                            <td>emptysdsadsdsdasddw</td>
                                            <td>emptysdsadsdsdasddw</td>
                                            <td>emptysdsadsdsdasddw</td>
                                            <td>emptysdsadsdsdasddw</td>
                                            <td>emptysdsadsdsdasddw</td>
                                            <td>emptysdsadsdsdasddw</td>
                                            <td>emptysdsadsdsdasddw</td>
                                            <td>emptysdsadsdsdasddw</td>
                                            <td>emptysdsadsdsdasddw</td>
                                            <td>emptysdsadsdsdasddw</td>
                                            <td>emptysdsadsdsdasddw</td>
                                            <td>emptysdsadsdsdasddw</td>
                                            <td>emptysdsadsdsdasddw</td>
                                            <td>emptysdsadsdsdasddw</td>
                                            <td>emptysdsadsdsdasddw</td>
                                            <td>emptysdsadsdsdasddw</td>
                                            <td>emptysdsadsdsdasddw</td>
                                            <td>emptysdsadsdsdasddw</td>
                                            <td>emptysdsadsdsdasddw</td>
                                            <td>emptysdsadsdsdasddw</td>
                                            <td>emptysdsadsdsdasddw</td>
                                            <td>emptysdsadsdsdasddw</td>
                                            <td>emptysdsadsdsdasddw</td>
                                            <td>emptysdsadsdsdasddw</td>
                                            <td>
                                              <div class=" col-xl-12 d-flex justify-content-center align-items-center ">
                                      
                                                  <button type="button" class="btn btn-success  my-lg-1 my-md-2 my-sm-2 my-1 px-5" id="btn3"  
                                                  data-toggle="tooltip" data-placement="top" title="Downlaod"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></button>

                                              </div>
                                          </td>
                                          </tr>
                                          
                                        </tbody>
                                      </table>
                                </div>
                                 
                                  
                              </form>
                             
                              
                              
                             
                              
                          </div>
                      </div>
                    
                        </div>

                      <!--TABLE 2 MAINTENANCE RECORD-------------------------------------------------------------------------------------------->
                
                      <div id="table2" class="col-xl-11 collapse" >
                            
                          <form>
                              <div class="form-row">
  
                                  <div class="col-xl-9 col-lg-8 col-12">
                                      <input type="text" class="form-control my-2 p-2" placeholder="Search....">
                                  </div>
                                  <!--BUTTONS-------------------------------------------------------------------------------------------->
                                  <div class="col-xl-1 col-lg-2 col-12">
                                      <button type="button" class="btn btn-primary btn-block my-2 p-2">Search</button>
                                  </div>
                                  <div class="dropdown col-xl-2  col-lg-2 col-12">
                                      <button class="btn btn-success dropdown-toggle my-2 p-2  btn-block"  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Sorted by:
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                          <a class="dropdown-item" href="#">Date</a>
                                          <a class="dropdown-item" href="#">Ascending</a>
                                          <a class="dropdown-item" href="#">Descending</a>
                                      </div>
                                    </div>
                              </div>
                          </form>
                          <div class="jumbotron  m-1"><br>
                            
                            
                            <div class="card-body">
                                <form>
                                    <div class="formtitle">
                                        MAINTENANCE RECORD
                                    </div>
                                    <div class="table-responsive-xl col-xl-12" id="idtable2">
                                      <table class="table">
                                          <thead class="thead">
                                            <tr>
                                              <th scope="col">TYPE</th>
                                              <th scope="col ">SERIAL NO.</th>
                                              <th scope="col ">DATE OF MAINTENANCE</th>
                                              <th scope="col">BRAND MODEL</th>
                                              <th scope="col">ICT EQUIPMENT CODE</th>
                                              <th scope="col ">ICT EQUIPMENT NAME</th>
                                              <th scope="col ">UPDATE SOFTWARE STATUS</th>
                                              <th scope="col ">REMARKS</th>
                                              <th scope="col ">CLEAR OUT BROWSER FILE STATUS</th>
                                              <th scope="col ">REMARKS</th>
                                              <th scope="col ">UPDATE SOFTWARE STATUS</th>
                                              <th scope="col ">REMARKS</th>
                                              <th scope="col ">SCAN FOR VIRUSES STATUS</th>
                                              <th scope="col ">REMARKS</th>
                                              <th scope="col ">UPDATE ANTI-VIRUS STATUS</th>
                                              <th scope="col ">REMARKS</th>
                                              <th scope="col ">RUN MALWARE STATUS</th>
                                              <th scope="col ">REMARKS</th>
                                              <th scope="col ">CLEAN KEYBOARD STATUS</th>
                                              <th scope="col ">REMARKS</th>
                                              <th scope="col ">DUST THE COMPUTER UNIT STATUS</th>
                                              <th scope="col ">REMARKS</th>
                                              <th scope="col ">ORGANIZE CABLES STATUS</th>
                                              <th scope="col ">REMARKS</th>
                                              <th scope="col ">WIPEDOWN MONITOR STATUS</th>
                                              <th scope="col ">REMARKS</th>
                                              <th scope="col ">RUN DISK CLEAN UP MONITOR STATUS</th>
                                              <th scope="col ">REMARKS</th>
                                              <th scope="col ">DEFRAGEMENT HARDRIVE STATUS</th>
                                              <th scope="col ">REMARKS</th>
                                              <th scope="col ">EMPTY RECYCLE BIN STATUS</th>
                                              <th scope="col ">REMARKS</th>
                                              <th scope="col ">CREATE SYSTEM RESTORE POINT STATUS</th>
                                              <th scope="col ">REMARKS</th>
                                              <th scope="col ">UITC PERSONNEL</th>
                                              <th scope="col ">SIGNATURE</th>
                                              <th scope="col ">DATE STARTED</th>
                                              <th scope="col ">TIME STARTED</th>
                                              <th scope="col ">DATE ENDED</th>
                                              <th scope="col ">TIME ENDED</th>
                                              <th scope="col ">SOLUTION RECOMMENDATION</th>
                                              <th scope="col ">END USER</th>
                                              <th scope="col ">SIGNATURE</th>
                                              <th scope="col ">DATE</th>
                                              <th scope="col ">TIME</th>
                                              <th scope="col">STATUS</th>
                                              <th scope="col">ACTION</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>
                                                <div class=" col-xl-12 d-flex justify-content-center align-items-center ">
                                        
                                                    <button type="button" class="btn btn-success  my-lg-1 my-md-2 my-sm-2 my-1 px-5" id="btn3"  
                                                    data-toggle="tooltip" data-placement="top" title="Downlaod"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></button>

                                                </div>
                                            </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                  </div>
                                   
                                    
                                </form>
                               
                                
                                
                               
                                
                            </div>
                        </div>
                      
                        </div> 

                      <!--TABLE 3 BORROW RECORD-------------------------------------------------------------------------------------------->
                      
                      <div id="table3" class="col-xl-11 collapse" >
                            
                          <form>
                              <div class="form-row">
  
                                  <div class="col-xl-9 col-lg-8 col-12">
                                      <input type="text" class="form-control my-2 p-2" placeholder="Search....">
                                  </div>
                                  <!--BUTTONS-------------------------------------------------------------------------------------------->
                                  <div class="col-xl-1 col-lg-2 col-12">
                                      <button type="button" class="btn btn-primary btn-block my-2 p-2">Search</button>
                                  </div>
                                  <div class="dropdown col-xl-2  col-lg-2 col-12">
                                      <button class="btn btn-success dropdown-toggle my-2 p-2  btn-block"  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Sorted by:
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                          <a class="dropdown-item" href="#">Date</a>
                                          <a class="dropdown-item" href="#">Ascending</a>
                                          <a class="dropdown-item" href="#">Descending</a>
                                      </div>
                                    </div>
                              </div>
                          </form>
                          <div class="jumbotron  m-1"><br>
                        
                        
                            <div class="card-body">
                                <form>
                                    <div class="formtitle">
                                        BORROW RECORD
                                    </div>
                                    <div class="table-responsive-xl col-xl-12" id="idtable3">
                                      <table class="table">
                                          <thead class="thead">
                                            <tr>
                                              <th scope="col">FULL NAME</th>
                                              <th scope="col ">DATE RQSTD</th>
                                              <th scope="col">TIME</th>
                                              <th scope="col ">RQST BORROW</th>
                                              <th scope="col">REASON FOR BORROWING</th>
                                              <th scope="col">SIGNATURE</th>
                                              <th scope="col">STATUS</th>
                                              <th scope="col">ACTION</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>emptysdsadsdsdasddw</td>
                                              <td>
                                                <div class=" col-xl-12 d-flex justify-content-center align-items-center ">
                                        
                                                    <button type="button" class="btn btn-success  my-lg-1 my-md-2 my-sm-2 my-1 px-5" id="btn3"  
                                                    data-toggle="tooltip" data-placement="top" title="Downlaod"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></button>

                                                </div>
                                            </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                  </div>
                                   
                                    
                                </form>
                               
                                
                                
                               
                                
                            </div>
                          </div>
                      
                        </div> 

                      <!--FORMTABLE 1 INVENTORY RECORD-------------------------------------------------------------------------------------------->  
                      
                      <div id="table4" class="col-xl-11 collapse" >
                            
                          <div class="jumbotron m-1"><br>
                        
                        
                            <div class="card-body">
                                <form>
                                    <div class="formtitle">
                                        INVENTORY
                                    </div>
                                    <div class="descriptions">
                                        ADD OF EQUIPMENTS
                                    </div>
                                    <div class="form-row">
                                        <div class="col-xl-6">
                                            <input type="text" class="form-control my-2 p-2" placeholder="Name of Equipment:">
                                        </div>
                                        <div class="col-xl-5">
                                            <input type="text" class="form-control my-2 p-2" placeholder="No of Units:">
                                        </div>
                                        <div class="col-xl-1">
                                            <button type="button" class="btn btn-success  mt-2 "  >
                                                ADD
                                            </button>
                                        </div>
                                    </div>
                                    <div class="descriptions col-12 m-2">
                                        Supplies and Materials  (Parts to be Replaced)
                                    </div>
    
    <!--TABLE-------------------------------------------------------------------------------------------->
    
                                    <div class="table-responsive col-xl-12">
                                        <table class="table">
                                            <thead class="thead">
                                              <tr>
                                                <th scope="col-xl-2 ">Quantity</th>
                                                <th scope="col-xl-6 ">Equipment</th>
                                                <th scope="col-xl-4 ">Modify/Delete</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <th scope="row"><input type="text" class="form-control p-2"></th>
                                                <td><input type="text" class="form-control p-2"></td>
                                                <td>
                                                    <button class="btn btn-primary badge-pill" style="width: 120px;">UPDATE</button>
                                                    <button class="btn btn-danger badge-pill" style="width: 120px;">DELETE</button>     
                                                </td>
                                              </tr>
                                              <tr>
                                                <th scope="row"><input type="text" class="form-control p-2"></th>
                                                <td><input type="text" class="form-control p-2"></td>
                                                <td>
                                                    <button class="btn btn-primary badge-pill" style="width: 120px;">UPDATE</button>
                                                    <button class="btn btn-danger badge-pill" style="width: 120px;">DELETE</button>     
                                                </td>
                                              </tr>
                                              <tr>
                                                <th scope="row"><input type="text" class="form-control p-2"></th>
                                                <td><input type="text" class="form-control p-2"></td>
                                                <td>
                                                    <button class="btn btn-primary badge-pill" style="width: 120px;">UPDATE</button>
                                                    <button class="btn btn-danger badge-pill" style="width: 120px;">DELETE</button>     
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                    </div>
    
    <!--BUTTONS-------------------------------------------------------------------------------------------->
                                    <div class="col-xl-12 ">
                                        <p class="card-text">Check it properly before you send it.</p>
                                        <button type="button" class="btn btn-primary  float-right m-1" onclick="next1()" >
                                            Next
                                        </button>
                                        <button type="button" class="btn btn-danger float-right m-1"  >
                                            Cancel
                                        </button>
                                        
                                    </div>
                                    
                                </form>
                               
                                
                                
                               
        
                            </div>
                        </div>
                      
                        
                      </div>

                    </div>
                </div>
            </div>
                <!--BG CALL-------------------------------------------------------------------------------------------->
                <div id="pic" class="view drk "></div>
            </div>
        </div>



</body>

</html>