{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!----TAB NAME------------------------------------------------>
    <title>UITC USERS</title>
    <!----TAB ICON------------------------------------------------>
    <link rel="icon" href="{%static 'images/TUP_LOGO.png'%}">
    <!----CSS AND JS------------------------------------------------>
    <script src="{% static 'js/3J_per(uitc).js'%}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/2J_permission(uitc).css'%}">

    <!----BOOTSTRAP LINK------------------------------------------------>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!----SORT------------------------------------------------>
    <script src="http://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    <!----ADD UP------------------------------------------------>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!----icon---------->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!----font links---------->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,500;1,300&display=swap" rel="stylesheet">

</head>

<body>
    <div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">LOGOUT</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                Are you sure you want to logout?
            </div>
            <div class="modal-footer">
            
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <a href="{% url 'TupcSysApp:logout'%}" style="color:white" type="button" class="btn btn-primary" >Log out</a>
                
            </div>
          </div>
        </div>
    </div>
    <!--NAVBAR-------------------------------------------------------------------------------------------->

    <nav class="navbar">

        <span style="font-size:30px;cursor:pointer" onclick="openNav()" id="openbtn">&#9776; </span>
        <div id="titulo">
            <a class="navbar-brand" id="title" href="#">USERS</a>
        </div>
        <img src="{% static 'images/TUP_LOGO.png'%}" width="100" height="80" alt="tuplogo" id="logo">

    </nav>

    <!--BREADCRUMB-------------------------------------------------------------------------------------------->

    <nav aria-label="breadcrumb ">
        <ol class="breadcrumb collapsed">
            <li class="mx-2 ml-auto active" onclick="users()"><a href="#" id="bc">USERS MASTERLIST</a></li>
            <li class="mx-2 "  onclick="department()"><a href="#" id="bc">DEPARTMENT</a></li>
            <li class="mx-2 "  onclick="design()"><a href="#" id="bc">DESIGNATION</a></li>
        </ol>
        
        <script type="text/javascript">
            $(document).on('click', 'ol, li', function(){
                $(this).addClass('active').siblings().removeClass('active')
            })
        </script>
    </nav>

    <div>
        <div class="container-fluid ">

            <!--SIDEBAR-------------------------------------------------------------------------------------------->

            <div class="row no-gutters">
                <div class="col-xl-1 text-center">
                    <div id="mySidebar" class="sidebar">
                        <button class="closebtn" id="close" onclick="closeNav()">&times; </button>
                        <a href="{% url 'TupcSysApp:UitcHome'%}"><i class="fa fa-lg fa-user-circle " aria-hidden="true"><br><h6 id="icons">HOME</h6></i></a>
                        <a href="{% url 'TupcSysApp:UitcID'%}"  ><i class="fa fa-lg fa-id-card" aria-hidden="true"><br><h6 id="icons">ID'S</h6></i> <span class="badge" id = "id_notif" name = "id_notifs" hidden>{{data6.Faculty_ID}}</span></a>
                        <a href="{% url 'TupcSysApp:UitcInternet'%} "><i class="fa fa-lg fa-lg-1x fa-wifi" aria-hidden="true"><br><h6 id="icons">INTERNET</h6></i><span class="badge" id = "net_notif" name = "net_notifs" hidden>{{data7}}</span></a>
                        <a href="{% url 'TupcSysApp:UitcLabsched'%}" ><i class="fa fa-lg fa-calendar" aria-hidden="true"><br><h6 id="icons">SCHEDULE</h6></i><span class="badge" id = "sched_notif" name = "sched_notifs" hidden>{{data6.Faculty_Laboratory}}</span></a>
                        <a href="{% url 'TupcSysApp:UitcReports'%}"><i class="fa fa-lg fa-file-text" aria-hidden="true"><br><h6 id="icons">FORMS</h6></i> <span class="badge" id = "report_notif" name = "report_notifs" hidden>{{data8}}</span></a>
                        <a href="{% url 'TupcSysApp:UitcRec1'%}"><i class="fa fa-lg fa-clipboard" aria-hidden="true"><br><h6 id="icons">REPORTS</h6></i></a>
                        <a href="{% url 'TupcSysApp:UitcPermission'%}" id="active"><i class="fa fa-lg fa-address-card" aria-hidden="true"><br><h6 id="icons">USERS</h6></i></a>
                        <a href="{% url 'TupcSysApp:UitcInventory'%}"><i class="fa fa-lg fa-archive" aria-hidden="true"><br><h6 id="icons">INVENTORY</h6></i></a>
                        <a href="" data-toggle="modal" data-target="#logout"  id="lo" data-toggle="tooltip" data-placement="top" title="Logout"><i class="fa fa-lg fa-arrow-circle-left" aria-hidden="true"><br></i></a>
                    </div>
                </div>

                <!--CARD-------------------------------------------------------------------------------------------->

                <div class="col-xl-11 main">                    
                    <div class="container-fluid text-center d-flex justify-content-center align-items-center"><br><br>
                        <div  class="col-xl-12" id="table1">
                            <form>
                                <div class="form-row">

                                    <div class="col-xl-9 col-lg-8 col-12">
                                        <input type="text" id="myInput" onkeyup="myFunction()" class="form-control my-2 p-2" placeholder="Search for names.." title="Type in a name">
                                    </div>
                                    <!--BUTTONS-------------------------------------------------------------------------------------------->
                                   
                                    <div class="dropdown col-xl-3  col-lg-4 col-12">
                                        <button class="btn btn-success dropdown-toggle my-2 p-2  btn-block"  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Sorted by:
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            
                                            <a class="dropdown-item" href="#" onclick="sortTable(0)">GSFE</a>
                                            <a class="dropdown-item" href="#" onclick="sortTable(1)">TUPC ID NO.</a>
                                        </div>
                                    </div>
                                </div>
                            </form>                    
                            
                            <div class="jumbotron  m-1"><br>
                            
                            
                                <div class="card-body"  >
                                    <form>
                                        <div class="formtitle">
                                            USERS MASTERLIST
                                        </div>
                                        <div class="table-responsive-xl col-xl-12" id="idtable">
                                            <table class="table" id="myTable">
                                                <thead class="thead">
                                                <tr>
                                                    <th scope="col ">GSFE ACC.</th>
                                                    <th scope="col">TUPC ID NO.</th>
                                                    <th scope="col">PERSONAL DESCRIPTION</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    {% for p in lists %}
                                                    <td>{{p.lgsfe}}</td>
                                                    <td>{{p.lidno}}</td>
                                                    <td>{{p.type}}</td>
                                                    <td>
                                                    
                                                    {% comment "" %}<td>
                                                        <a class="btn btn-primary badge-pill" style="width: 120px;" id="b1" type='button'> APPROVE</a>
                                                        <button class="btn btn-success badge-pill" style="width: 120px;" >DOWNLOAD</a>
                                                        <a class="btn btn-danger badge-pill" style="width: 120px;" type='button' >CANCEL</a>
                                                        
                                                    </td>{% endcomment %}
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                            
                                        </div>
                                        
                                    
                                        
                                    </form>
                                    <form action="/upload_csv/" method="POST" enctype="multipart/form-data" class="form-horizontal"> 
                                        {% csrf_token %}
                                        <div class="form-row">
                                            
                                            <div class="col-xl-4 col-12 mt-xl-0 mt-lg-0 mt-2">
                                                <input type="file" name="csv_file" id="csv_file" required="True" class="form-control">
                                            </div>     
                                            <div class="col-xl-2 col-12 mt-xl-0 mt-lg-0 mt-2" >
                                                <button class="btn btn-primary form-control" id="b1">Upload List</button>
                                            </div>
                                                
                                            <div class="col-xl-2 col-12 mt-xl-0 mt-lg-0 mt-2" >
                                             
                                                <a type = "button" href ="/list_delete/" class="btn btn-primary form-control" id="b1">Delete</a>

                                            </div>   
                                                          
                                                        
                                        </div>
                                        <div class="form-group">                    
                                          
                                        </div>
                                        <script>
                                            function myFunction() {
                                              var input, filter, table, tr, td, i, txtValue;
                                              input = document.getElementById("myInput");
                                              filter = input.value.toUpperCase();
                                              table = document.getElementById("myTable");
                                              tr = table.getElementsByTagName("tr");
                                              for (i = 0; i < tr.length; i++) {
                                                td = tr[i].getElementsByTagName("td")[0];
                                                if (td) {
                                                  txtValue = td.textContent || td.innerText;
                                                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                                    tr[i].style.display = "";
                                                  } else {
                                                    tr[i].style.display = "none";
                                                  }
                                                }       
                                              }
                                            }
                                            function sortTable(n) {
                                            var table,
                                                rows,
                                                switching,
                                                i,
                                                x,
                                                y,
                                                shouldSwitch,
                                                dir,
                                                switchcount = 0;
                                            table = document.getElementById("myTableu");
                                            switching = true;
                                            // Set the sorting direction to ascending:
                                            dir = "asc";
                                            /* Make a loop that will continue until
                                            no switching has been done: */
                                            while (switching) {
                                                // Start by saying: no switching is done:
                                                switching = false;
                                                rows = table.rows;
                                                /* Loop through all table rows (except the
                                                first, which contains table headers): */
                                                for (i = 1; i < rows.length - 1; i++) {
                                                // Start by saying there should be no switching:
                                                shouldSwitch = false;
                                                /* Get the two elements you want to compare,
                                                one from current row and one from the next: */
                                                x = rows[i].getElementsByTagName("TD")[n];
                                                y = rows[i + 1].getElementsByTagName("TD")[n];
                                                /* Check if the two rows should switch place,
                                                based on the direction, asc or desc: */
                                                if (dir == "asc") {
                                                    if (
                                                    x.innerHTML.toLowerCase() >
                                                    y.innerHTML.toLowerCase()
                                                    ) {
                                                    // If so, mark as a switch and break the loop:
                                                    shouldSwitch = true;
                                                    break;
                                                    }
                                                } else if (dir == "desc") {
                                                    if (
                                                    x.innerHTML.toLowerCase() <
                                                    y.innerHTML.toLowerCase()
                                                    ) {
                                                    // If so, mark as a switch and break the loop:
                                                    shouldSwitch = true;
                                                    break;
                                                    }
                                                }
                                                }
                                                if (shouldSwitch) {
                                                /* If a switch has been marked, make the switch
                                                and mark that a switch has been done: */
                                                rows[i].parentNode.insertBefore(
                                                    rows[i + 1],
                                                    rows[i]
                                                );
                                                switching = true;
                                                // Each time a switch is done, increase this count by 1:
                                                switchcount++;
                                                } else {
                                                /* If no switching has been done AND the direction is "asc",
                                                set the direction to "desc" and run the while loop again. */
                                                if (switchcount == 0 && dir == "asc") {
                                                    dir = "desc";
                                                    switching = true;
                                                }
                                                }
                                            }
                                            }
                                        </script>
                                    </form>
                                    
                                    
                                
                                    
                                </div>
                            </div>
                            
                        
                        </div>

                        <div  class=" col-xl-12" id="table2" hidden >
                            <div class="jumbotron m-1" id="j2"> <br>
                                <div class="card-body" >
                                    <form action="/department1/" method="POST"  >
                                        {% csrf_token %}
                                        <div class="formtitle">
                                            DEPARTMENTS
                                        </div>
                                        <div class="descriptions">
                                            ADD OF DEPARTMENT
                                        </div>
                                        <div class="form-row">
                                            <div class="col-xl-9 col-12">
                                                <input type="text" class="form-control my-2 p-2" placeholder="Name of Department with acronym:" name="dep" required>
                                            </div>
                                       
                                            <div class="col-xl-3 col-12">
                                                <button type="submit" class="btn btn-success  mt-2 form-control" id="b1" name="addInventory" >
                                                    +ADD
                                                </button>
                                            </div>
                                           
                                            
                                        </div>
                                        <div class="descriptions mt-4">
                                            LIST
                                        </div>
                                      

                                       
                                        
    
                                        <!--TABLE-------------------------------------------------------------------------------------------->
                                       
                                        <div class="table-responsive col-xl-12" id="department">
                                            <table class="table" id ="mytable1">
                                                <thead class="thead" id="myTableI">
                                                <tr>
                                                    <th scope="col-xl-8 ">DEPARTMENT</th>
                                                    <th scope="col-xl-4 ">ACTION</th>
                                                  
                                                    
                                                </tr>
                                                </thead>
                                                <tbody id="tb">
                                                    {% for d1 in department %}
                                                    
                                                <tr>
                                                    <td>{{d1.dep}}</td>
                                                   
                                                    <td>
                                                        <div class=" col-xl-12 d-flex justify-content-center align-items-center ">
                                            
                                                            <a type="button" href="{% url 'TupcSysApp:department_delete' d1.pk  %}" style="width: 120px;" data-bs-toggle="modal" class="btn btn-primary  m-1 b5" 
                                                            data-bs-target="#modalReturn{{ i.id }}" id="b5{{ d1.id }}" name="return" >DELETE</a>
                                                        
                                                        </div>
                                                        
                                                    </td>
                                                
                                                </tr>
                                                <!-- MODAL delete-->
                                                <div class="modal fade" id="modalReturn{{ d1.id }}" tabindex="-1" role="dialog" aria-labelledby="modalReturn" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="staticBackdropLabel">Delete?</h5>
                                                                <button  class="btn-close fa fa-times" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="text-center">
                                                                    <form method="post">
                                                                
                                                                        <div class="modal-body">
                                                                            Are you sure you want to delete this?
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                            <button type="submit" id = "btn1" class="btn btn-primary">Send</button>
                                                                        </div>
                                                                    
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                {% endfor %}
                                                </tbody>
                                            </table>

                                        </div> 
                                    </form>
                                </div>
                            
                            
                        
                            </div>
                        </div>

                        <div  class=" col-xl-12" id="table3" hidden >
                            <div class="jumbotron m-1" id="j2"> <br>
                                <div class="card-body" >
                                    <form action="/designation1/" method="POST" >
                                        {% csrf_token %}
                                        <div class="formtitle">
                                            DESIGNATION
                                        </div>
                                        <div class="descriptions">
                                            ADD OF DESIGNATION
                                        </div>
                                        <div class="form-row">
                                            <div class="col-xl-9 col-12">
                                                <input type="text" class="form-control my-2 p-2" placeholder="Name of Designation:" name="desig" required>
                                            </div>
                                       
                                            <div class="col-xl-3 col-12">
                                                <button type="submit" class="btn btn-success  mt-2 form-control" id="b1" name="addInventory" >
                                                    +ADD
                                                </button>
                                            </div>
                                           
                                            
                                        </div>
                                        <div class="descriptions mt-4">
                                            LIST
                                        </div>
                                      
                                        <!--TABLE-------------------------------------------------------------------------------------------->
                                       
                                        <div class="table-responsive col-xl-12" id="design">
                                            <table class="table" id ="mytable1">
                                                <thead class="thead" id="myTableI">
                                                <tr>
                                                    <th scope="col-xl-8 ">DESIGNATIONS</th>
                                                    <th scope="col-xl-4 ">ACTION</th>
                                                  
                                                    
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    {% for d2 in designation %}
                                                    
                                                <tr>
                                                    <td>{{d2.desig}}</td>
                                                   
                                                    <td>
                                                        <div class=" col-xl-12 d-flex justify-content-center align-items-center ">
                                            
                                                            <a type="button" href="{% url 'TupcSysApp:designation_delete' d2.pk  %}" style="width: 120px;" data-bs-toggle="modal" class="btn btn-primary  m-1 b5" 
                                                            data-bs-target="#modalReturn1{{ d2.id }}" id="b5{{ d2.id }}" name="return" >DELETE</a>
                                                        
                                                        </div>
                                                        
                                                    </td>
                                                
                                                </tr>
                                                <!-- MODAL RETURNED-->
                                                <div class="modal fade" id="modalReturn1{{ d2.id }}" tabindex="-1" role="dialog" aria-labelledby="modalReturn" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="staticBackdropLabel">Delete?</h5>
                                                                <button  class="btn-close fa fa-times" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="text-center">
                                                                    <form method="post">
                                                                
                                                                        <div class="modal-body">
                                                                            Are you sure you want to delete this?
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                            <button type="submit" id = "btn1" class="btn btn-primary">Send</button>
                                                                        </div>
                                                                    
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                {% endfor %}
                                                </tbody>
                                            </table>

                                        </div> 
                                    </form>
                                 


                                </div>
                            
                            
                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--BG CALL-------------------------------------------------------------------------------------------->
            <div id="pic" class="view drk "></div>
        </div>
    </div>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    {% for message in messages %}
    <script>
        swal("{{message}}","");
    </script>
    {% endfor %}



</body>

</html>