{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--TAB NAME-->
    <title>EMPLOYEE LABORATORY SCHEDULE</title>
    <!----TAB ICON------------------------------------------------>
    <link rel="icon" href="{% static 'images/TUP_LOGO.png'%}">
    <!--CSS & JS-->
    <link rel="stylesheet" href="{% static 'css/2N_schedule(fv).css'%}">
    <script src="{% static 'js/3N_sched(fv).js'%}"></script>
    <!----BOOTSTRAP LINK------------------------------------------------>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!----ADD UP------------------------------------------------>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <!----SIGNATURE------------------------------------------------>
    <script defer="" type="text/javascript" src="https://static.zohocdn.com/forms/js/formstplivejs.5598e1e583c1d09fc270b76b7bc87fed.js"></script>
    <script defer="" type="text/javascript" src="https://static.zohocdn.com/forms/js/formsthirdpartylivejs.fa80d21e90eb2a92193fc45ef5617573.js"></script>
    <script defer="" type="text/javascript" src="https://static.zohocdn.com/forms/js/formscommonlive.66b46fe834fedf0c45347fdc5ff8e7ce.js"></script>
    <script defer="" type="text/javascript" src="https://static.zohocdn.com/forms/js/formslive.0749e7d876e08624d4ea48aa2cf0c94d.js"></script>
    <script defer="" type="text/javascript" src="https://static.zohocdn.com/forms/js/formsselect.b9384dcadf2bc7b3816527891df599f6.js"></script>
   
    <!----font links---------->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,500;1,300&display=swap" rel="stylesheet">

</head>

<body>
    <div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">LOGOUT</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                Are you sure you want to logout?
            </div>
            <div class="modal-footer">
            
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <a href="{% url 'TupcSysApp:logout'%}" style="color:white" type="button" class="btn btn-primary" >Log out</a>
                
            </div>
          </div>
        </div>
    </div>
    <!--NAVBAR-------------------------------------------------------------------------------------------->

    <nav class="navbar">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()" id="openbtn">&#9776; </span>
        <div id="titulo">
            <a class="navbar-brand" href="#">LABORATORY SCHEDULE</a>
            
        </div>
        <img src="{% static 'images/TUP_LOGO.png'%}" width="100" height="80" alt="tuplogo" id="logo">

    </nav>
    <!--BREADCRUMB-------------------------------------------------------------------------------->
    <nav aria-label="breadcrumb ">
        <ol class="breadcrumb collapsed">
            <li class=" mx-2 ml-auto active" onclick="requestforlab()" ><a href="#" id="bc">REQUEST FOR LABORATORY SCHEDULE</a></li>
            <li class="mx-2 " onclick="labsched()"><a href="#" id="bc">LABORATORY SCHEDULE</a></li>
        </ol>
        <script type="text/javascript">
            $(document).on('click', 'ol, li', function(){
                $(this).addClass('active').siblings().removeClass('active')
            })
        </script>
    </nav>

    <!--CONTAINER FLUID-------------------------------------------------------------------------------------------->
    <div>

        <div class="container-fluid ">

            <!--SIDEBAR-------------------------------------------------------------------------------------------->

            <div class="row no-gutters">
                <div class="col-xl-1 text-center">
                    <div id="mySidebar" class="sidebar">
                        <button class="closebtn" id="close" onclick="closeNav()">&times; </button>
                        <a href="{% url 'TupcSysApp:FacultyHome'%}" ><i class="fa fa-2x fa-user-circle " aria-hidden="true"><br><h6 id="icons">HOME</h6></i></a>
                        <a href="{% url 'TupcSysApp:FacultyID'%}"><i class="fa fa-2x fa-id-badge" aria-hidden="true"><br><h6 id="icons">ID'S</h6></i></a>
                        <a href="{% url 'TupcSysApp:FacultyInternet'%}"><i class="fa fa-2x fa-lg-1x fa-wifi" aria-hidden="true"><br><h6 id="icons">INTERNET</h6></i></a>
                        <a href="{% url 'TupcSysApp:FacultyLabsched'%}" id="active"><i class="fa fa-2x fa-calendar" aria-hidden="true"><br><h6 id="icons">SCHEDULE</h6></i></a>
                        <a href="{% url 'TupcSysApp:FacultyReports'%}"><i class="fa fa-2x fa-file-text" aria-hidden="true"><br><h6 id="icons">REPORT</h6></i></a>
                        <a href="" data-toggle="modal" data-target="#logout"><i class="fa fa-2x fa-sign-out" aria-hidden="true"><br><h6 id="icons">LOG OUT</h6></i></a>

                    </div>
                </div>
                <div class="col-xl-11 main">

                    <div class="container-fluid text-center d-flex justify-content-center align-items-center"><br><br>

                        <!-- REQUEST OF LABORATORY SCHED-------------------------------------------------------------------------------------------->
                        <div class="col-xl-11 " id="tableform1">
                            <div class="jumbotron m-1"><br>

                                <!--FORM-------------------------------------------------------------------------------------------->
                                <div class="card-body">
                                    <form method="post" action = '/FacultyLabsched/' id="labschedform"  name = "myform">
                                        {%csrf_token%}
                                        <div class="formtitle">
                                            FILL UP THE FORM HERE
                                        </div>

                                        <div class="form-row">
                                            <div class="col-xl-12">
                                                <input type="text" class="form-control my-2 p-2" placeholder="{{request.user.name}}" id="hf_name" name="f_name" readonly>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-xl-6">
                                                <select id="inputState" class="form-control my-2 p-2" name = "g_dept" required>
                                                    <option selected disabled value="">Department:</option>
                                                    <optgroup label="Administration Building">
                                                        <option value="OP">OPERATOR</option>
                                                        <option value="OCD">DIRECTORS OFFICE (OCD)</option>
                                                        <option value="OAC">ACCOUNTING OFFICE (OAC)</option>
                                                        <option value="OHR">HUMAN RESOURCES OFFICE (OHR)</option>
                                                        <option value="ADAF">ASSISTANT DIRECTOR FOR ADMINISTRATION AND FINANCE (ADAF)</option>
                                                    </optgroup>
                                                    <optgroup label="Vergara Hall">
                                                        <option value="OCR">REGISTRAR'S OFFICE (OCR)</option>
                                                        <option value="OGS">GUIDANCE OFFICE (OGS)</option>
                                                        <option value="OHS">CLINIC (OHS)</option>
                                                        <option value="OJP/IRJP">INDUSTRIAL RELATIONS AND JOB PLACEMENT (OJP/IRJP)</option>
                                                    </optgroup>
                                                    <optgroup label="U-Building">
                                                        <option value="OPR">PROCUREMENT OFFICE (OPR)</option><option value="President">OPERATOR</option>
                                                        <option value="OCL">LIBRARY (OCL)</option>
                                                        <option value="DLA">LIBERAL ARTS DEPARTMENT (DLA)</option>
                                                        <option value="DMS">MATH AND SCIENCES DEPARTMENT (DMS)</option>
                                                        <option value="OCP">PLANNING OFFICE (OCP)</option>
                                                        <option value="CHEM">CHEMISTRY LAB</option><option value="President">OPERATOR</option>
                                                        <option value="AVR">AUDIO VISUAL ROOM (AVR)</option>
                                                    </optgroup>
                                                    <optgroup label="R&E Area">
                                                        <option value="IDO">INFRASTRUCTURE DEVELOPMENT OFFICE (IDO)</option>
                                                        <option value="ORS & ORE">RESEARCH AND EXTENSION OFFICE (ORS & ORE) </option>
                                                    </optgroup>
                                                    <optgroup label="DIT/DED/DOE">
                                                        <option value="DIT">INDUSTRIAL TECHNOLOGY DEPARTMENT (DIT)</option>
                                                        <option value="DED">INDUSTRIAL EDUCATION DEPARTMENT (DED)</option><option value="President">OPERATOR</option>
                                                        <option value="DOE">ENGINEERING SCIENCES DEPARTMENT (DOE)</option>
                                                    </optgroup>
                                                    <optgroup label="Aux/Gate">
                                                        <option value="OAX">AUXILIARY SERVICES (OAX)</option>
                                                        <option value="OLD GATE">GATE 2 (OLD GATE)</option>
                                                        <option value="NEW GATE">GATE 1 (NEW GATE)</option>
                                                    </optgroup>
                                                    <optgroup label="New Buildings">
                                                         
                                                        <option value="OSA">STUDENT AFFAIRS OFFICE (OSA)</option>
                                                        <option value="ADDA">ASSISTANT DIRECTOR FOR ACADEMIC AFFAIRS (ADDA)</option>
                                                        <option value="OIT">INFORMATION TECHNOLOGY CENTER (OIT)</option>
                                                    </optgroup>
                                                </select>
                                            </div>
                                            <div class="col-xl-1 text-center d-flex justify-content-center align-items-center">
                                                Date:
                                            </div>
                                            <div class="col-xl-5">
                                                <input type="date" class="form-control my-2 p-2" placeholder="Date:" id="h_daterec" name="l_date"  required>
                                            </div>
                                        </div>
                                        <div class="descriptions col-12 m-2">
                                            Laboratory Information
                                        </div>
                                        <div class="form-row">
                                            <div class="col-xl-6">
                                                <select id="hl_num" name="lab_num"  class="form-control my-2 p-2"  required>
                                                    <option selected disabled value="">Laboratory:</option>
                                                    <optgroup label="OLD UITC">
                                                        <option value="OLD LAB1">LAB 1</option>
                                                        <option value="OLD LAB2">LAB 2</option>
                                                        <option value="OLD LAB3">LAB 3</option>
                                                        <option value="OLD LAB4">LAB 4</option>
                                                       
                                                    </optgroup>
                                                    <optgroup label="NEW UITC">
                                                        <option value="NEW LAB1">LAB 1</option>
                                                        <option value="NEW LAB2">LAB 2</option>
                                                        <option value="NEW LAB3">LAB 3</option>
                                                        <option value="NEW LAB4">LAB 4</option>
                                                    </optgroup>
                                                </select>
                                               
                                            </div>
                                            <div class="col-xl-6">
                                                <input type="text" class="form-control my-2 p-2" placeholder="Course & Section:" id="h_csec" name="crs_sec" required>
                                            </div>
                                        </div>
                                        
                                        <div class="form-row">
                                            <div class="col-xl-2 text-center d-flex justify-content-center align-items-center">
                                                Start Time:
                                            </div>
                                            <div class="col-xl-4">
                                                <input type="time" class="form-control my-2 p-2" placeholder="Time:" id="hs_time" name="s_time" required>
                                            </div>
                                            <div class="col-xl-2 text-center d-flex justify-content-center align-items-center">
                                                End Time:
                                            </div>
                                            <div class="col-xl-4">
                                                <input type="time" class="form-control my-2 p-2" placeholder="Time:" id="he_time" name="e_time" required>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class=" col-xl-6 sign tempFrmWrapper" tabindex="1" elname="livefield-elem" comptype="25" id="Signature-li" needdata="true" compname="Signature" linkname="Signature" isvisible="true" mandatory="true" page_no="2" page_link_name="Page4"> 



                                                <label class="labelName"><span>Signature</span> 
                                                
                                                <em class="important">*</em>
                                                
                                                </label>
                                                
                                                    
                                                
                                                <div class="tempContDiv">
                                                
                                                <div class="signContainer" elname="signContainer" id="signContainer-Signature"><canvas id="drawingCanvas-Signature" signaturefieldparent="form" tabindex="-1" width="400" name = "f_signature"></canvas>  
                                                    <div class="signArea" elname="signArea" id="sign-area-Signature" style="display:none" ></div><a id="clearSign" elname="clearSign" class="instrSpace" href="javascript:void(0);" onclick="clearSignature('drawingCanvas-Signature');">Clear</a></div><p class="errorMessage" elname="error" id="error-Signature"></p>
                                                    </div><div class="clearBoth"></div>
                                                    <input type = "text" id = "fl_sig"  name = "fl_sig" hidden></input>
                                            </div>
                                        </div>
                                        <!--disclosure modal-------------------------------------------------------------------------------------------->    
                                        <div class="modal fade" id="confirmation1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                                                </div>
                                                <div class="modal-body">
                                                    Are you sure you want to send?
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                  <button type="submit" id = "btn1" class="btn btn-primary">Send</button>
                                                </div>
                                              </div>
                                            </div>
                                        </div>
                                    
                                    
                                    <!--BUTTONS-------------------------------------------------------------------------------------------->
                                    <div class="col-xl-12 mt-2">
                                        <p class="card-text">Check it properly before you send it.</p>
                                        <button type="button" class="btn btn-primary  float-right m-1" data-toggle="modal" data-target="#confirmation1">
                                                                    Submit
                                                                </button>
                                        <button type="button" class="btn btn-danger float-right m-1">
                                                                    Clear
                                                                </button>
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>

                        
                        <!--LABSCHED-------------------------------------------------------------------------------------------->    
                        <div  class="col-xl-11 collapse" id="table2">
                                             
                            
                            <div class="jumbotron  m-1 "><br>
                                    
                                    
                                    
                                <div class="card-body">
                                    <form>
                                        <div class="formtitle">
                                            
                                        </div>
                                        <div class="table-responsive-xl col-xl-12" id="idtable">
                                            <table class="table" id="myTable">
                                                <thead class="thead">
                                                    <h3>LABORATORY 1</h3>
                                                    <tr>
                                                        <th scope="col">MONDAY</th>
                                                        <th scope="col">TUESDAY</th>
                                                        <th scope="col">WEDNESDAY</th>
                                                        <th scope="col">THURSDAY</th>
                                                        <th scope="col">FRIDAY</th>
                                                        <th scope="col">SATURDAY</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td scope="col" id="ta"><textarea row="6" readonly ></textarea>
                                                            </td>
                                                        <td scope="col" id="ta"><textarea row="6" readonly></textarea>
                                                        </td>
                                                        <td scope="col" id="ta"><textarea row="6" readonly></textarea>
                                                        </td>
                                                        <td scope="col" id="ta"><textarea row="6" readonly></textarea>
                                                        </td>
                                                        <td scope="col" id="ta"><textarea row="6" readonly></textarea>
                                                        </td>
                                                        <td scope="col" id="ta"><textarea row="6" readonly></textarea>
                                                        </td>
   
                                                    </tr>
                                                    
                                                
                                                    
                                               
                                                
                                                </tbody>
                                            </table>
                                            <table class="table" id="myTable">
                                                <thead class="thead">
                                                    <h3>LABORATORY 2</h3>
                                                    <tr>
                                                        <th scope="col">MONDAY</th>
                                                        <th scope="col">TUESDAY</th>
                                                        <th scope="col">WEDNESDAY</th>
                                                        <th scope="col">THURSDAY</th>
                                                        <th scope="col">FRIDAY</th>
                                                        <th scope="col">SATURDAY</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td scope="col" id="ta"><textarea row="6" readonly></textarea>
                                                            </td>
                                                        <td scope="col" id="ta"><textarea row="6" readonly></textarea>
                                                        </td>
                                                        <td scope="col" id="ta"><textarea row="6" readonly></textarea>
                                                        </td>
                                                        <td scope="col" id="ta"><textarea row="6" readonly></textarea>
                                                        </td>
                                                        <td scope="col" id="ta"><textarea row="6" readonly></textarea>
                                                        </td>
                                                        <td scope="col" id="ta"><textarea row="6" readonly></textarea>
                                                        </td>
   
                                                    </tr>
                                                    
                                                
                                                    
                                               
                                                
                                                </tbody>
                                            </table>
                                            <table class="table" id="myTable">
                                                <thead class="thead">
                                                    <h3>LABORATORY 3</h3>
                                                    <tr>
                                                        <th scope="col">MONDAY</th>
                                                        <th scope="col">TUESDAY</th>
                                                        <th scope="col">WEDNESDAY</th>
                                                        <th scope="col">THURSDAY</th>
                                                        <th scope="col">FRIDAY</th>
                                                        <th scope="col">SATURDAY</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td scope="col" id="ta"><textarea row="6" readonly></textarea>
                                                            </td>
                                                        <td scope="col" id="ta"><textarea row="6" readonly></textarea>
                                                        </td>
                                                        <td scope="col" id="ta"><textarea row="6" readonly></textarea>
                                                        </td>
                                                        <td scope="col" id="ta"><textarea row="6" readonly></textarea>
                                                        </td>
                                                        <td scope="col" id="ta"><textarea row="6" readonly></textarea>
                                                        </td>
                                                        <td scope="col" id="ta"><textarea row="6" readonly></textarea>
                                                        </td>
   
                                                    </tr>
                                                    
                                                
                                                    
                                               
                                                
                                                </tbody>
                                            </table>
                                        </div>
                                        
                                    </form>
                                
                                    
                                    
                                
                                    
                                </div>
                            </div>
                            
                        
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        const canvas = document.getElementById("drawingCanvas-Signature");
        
        document.getElementById("btn1").addEventListener('click', function() {
            const canvasURL = canvas.toDataURL();
            console.log(canvasURL);
            document.forms['myform']['fl_sig'].value = canvasURL;
            
            
        });
    </script>
<script type="module">setCanvasElemWidth("Signature");	//No I18N				   		
    $("#drawingCanvas-Signature").mousedown(function (event) {
    var canvasElem = document.getElementById("drawingCanvas-Signature"); //No I18N	
    var signatureFieldParent = $(canvasElem).attr('signaturefieldparent'); //No I18N
    var fontColor = "#000000";
    var inputElem = ""; //No I18N
    if(signatureFieldParent  == "subform") {
    inputElem = $("#formBodyDiv").find(".formFieldWrapper li[elemType=subFormField][viewtype=1] input[type=text]:first"); //No I18N
    if(inputElem.length == 0) { //No I18N
    inputElem = $("#formBodyDiv").find(".formFieldWrapper li[elemType=subFormField][viewtype=1] textarea:first"); //No I18N
    }
    }
    else { //No I18N
    inputElem = $("#formBodyDiv").find(".formFieldWrapper > .tempFrmWrapper > .tempContDiv input[type=text]:first"); //No I18N
    if(inputElem.length == 0) { //No I18N
    inputElem = $("#formBodyDiv").find(".formFieldWrapper > .tempFrmWrapper > .tempContDiv textarea:first"); //No I18N
    }
    }
    if(inputElem != "" && inputElem.length > 0) {
    fontColor = inputElem.css("color");// No I18N
    }
    var context = canvasElem.getContext("2d");// No I18N
    var position = getXYCoords(event, canvasElem,false);
    context.moveTo(position.X, position.Y);
    context.beginPath();
    $(this).mousemove(function (event) {
    startScribbling(event, canvasElem, context, false, fontColor);
    }).mouseup(function (event) {
    endScribbling(event, canvasElem, context, fontColor);
    var fieldElem = getClosestFieldElemLi(canvasElem);// No I18N
    removeErrorFromLiElem(fieldElem);// No I18N
    }).mouseout(function (event) {
    endScribbling(event, canvasElem, context, fontColor);
    var fieldElem = getClosestFieldElemLi(canvasElem);// No I18N
    removeErrorFromLiElem(fieldElem);// No I18N
    });
    this.addEventListener('touchstart', function(event){
    position = getXYCoords(event, canvasElem,true);
    context.moveTo(position.X, position.Y);
    context.beginPath();
    event.preventDefault();
    }, false);
    this.addEventListener('touchmove', function(event){
    startScribbling(event, canvasElem, context, true, fontColor);
    event.preventDefault();
    }, false);
    });
    var userAgent = window.navigator.userAgent;
    var msie = userAgent.indexOf("MSIE ");
    if (msie > 0) {
    $("#drawingCanvas-Signature").keypress(function (event) {
    if (event.keyCode === 13) {
    event.preventDefault();
    }
    });
    }
    if (false == true)  //No I18N
    {
    $("#drawingCanvas-Signature").css("pointer-events","none");//No I18N
    $("#drawingCanvas-Signature").css("cursor","default");//No I18N
    }</script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    {% for message in messages %}
    <script>
        swal("{{message}}","");
    </script>
    {% endfor %}
</body>

</html>