{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--TAB NAME-->
    <title>EMPLOYEE LABORATORY SCHEDULE</title>
    <!----TAB ICON------------------------------------------------>
    <link rel="icon" href="{% static 'images/TUP_LOGO.png'%}">
    <!--CSS & JS-->
    <link rel="stylesheet" href="{% static 'css/2N_schedule(fv).css'%}">
    <script src="{% static 'js/3N_sched(fv).js'%}"></script>
    <!----BOOTSTRAP LINK------------------------------------------------>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!----ADD UP------------------------------------------------>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <!----SIGNATURE------------------------------------------------>
    <script defer="" type="text/javascript" src="https://static.zohocdn.com/forms/js/formstplivejs.5598e1e583c1d09fc270b76b7bc87fed.js"></script>
    <script defer="" type="text/javascript" src="https://static.zohocdn.com/forms/js/formsthirdpartylivejs.fa80d21e90eb2a92193fc45ef5617573.js"></script>
    <script defer="" type="text/javascript" src="https://static.zohocdn.com/forms/js/formscommonlive.66b46fe834fedf0c45347fdc5ff8e7ce.js"></script>
    <script defer="" type="text/javascript" src="https://static.zohocdn.com/forms/js/formslive.0749e7d876e08624d4ea48aa2cf0c94d.js"></script>
    <script defer="" type="text/javascript" src="https://static.zohocdn.com/forms/js/formsselect.b9384dcadf2bc7b3816527891df599f6.js"></script>
   
    <!----font links---------->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,500;1,300&display=swap" rel="stylesheet">

</head>

<body>
    <div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">LOGOUT</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                Are you sure you want to logout?
            </div>
            <div class="modal-footer">
            
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <a href="{% url 'TupcSysApp:logout'%}" style="color:white" type="button" class="btn btn-primary" >Log out</a>
                
            </div>
          </div>
        </div>
    </div>
    <!--NAVBAR-------------------------------------------------------------------------------------------->

    <nav class="navbar">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()" id="openbtn">&#9776; </span>
        <div id="titulo">
            <a class="navbar-brand" href="#">LABORATORY SCHEDULE</a>
            
        </div>
        <img src="{% static 'images/TUP_LOGO.png'%}" width="100" height="80" alt="tuplogo" id="logo">

    </nav>
    <!--BREADCRUMB-------------------------------------------------------------------------------->
    <nav aria-label="breadcrumb ">
        <ol class="breadcrumb collapsed">
            <li class=" mx-2 ml-auto active" onclick="requestforlab()" ><a href="#" id="bc">REQUEST FOR LABORATORY SCHEDULE</a></li>
            <li class="mx-2 " onclick="labsched()"><a href="#" id="bc">LABORATORY SCHEDULE</a></li>
        </ol>
        <script type="text/javascript">
            $(document).on('click', 'ol, li', function(){
                $(this).addClass('active').siblings().removeClass('active')
            })
        </script>
    </nav>

    <!--CONTAINER FLUID-------------------------------------------------------------------------------------------->
    <div>

        <div class="container-fluid ">

            <!--SIDEBAR-------------------------------------------------------------------------------------------->

            <div class="row no-gutters">
                <div class="col-xl-1 text-center">
                    <div id="mySidebar" class="sidebar">
                        <button class="closebtn" id="close" onclick="closeNav()">&times; </button>
                        <a href="{% url 'TupcSysApp:FacultyHome'%}" ><i class="fa fa-lg fa-user-circle " aria-hidden="true"><br><h6 id="icons">HOME</h6></i></a>
                        <a href="{% url 'TupcSysApp:FacultyID'%}"><i class="fa fa-lg fa-id-badge" aria-hidden="true"><br><h6 id="icons">ID'S</h6></i></a>
                        <a href="{% url 'TupcSysApp:FacultyInternet'%}"><i class="fa fa-lg fa-lg-1x fa-wifi" aria-hidden="true"><br><h6 id="icons">INTERNET</h6></i></a>
                        <a href="{% url 'TupcSysApp:FacultyLabsched'%}" id="active"><i class="fa fa-lg fa-calendar" aria-hidden="true"><br><h6 id="icons">SCHEDULE</h6></i></a>
                        <a href="{% url 'TupcSysApp:FacultyReports'%}"><i class="fa fa-lg fa-file-text" aria-hidden="true"><br><h6 id="icons">REPORT</h6></i></a>
                        <a href="" data-toggle="modal" data-target="#logout" id="lo"  data-toggle="tooltip" data-placement="top" title="Logout"><i class="fa fa-lg fa-arrow-circle-left" aria-hidden="true"><br></i></a>

                    </div>
                </div>
                <div class="col-xl-11 main">

                    <div class="container-fluid text-center d-flex justify-content-center align-items-center"><br><br>
    
                        <!-- REQUEST OF LABORATORY SCHED-------------------------------------------------------------------------------------------->
                        <div class="col-xl-11 " id="tableform1">
                            <div class="jumbotron m-1"><br>
    
                                <!--FORM-------------------------------------------------------------------------------------------->
                                <div class="card-body">
                                    <form method="post" action = '/FacultyLabsched/' id="labschedform"  name = "myform">
                                        {%csrf_token%}
                                        <div class="formtitle">
                                            FILL UP THE FORM HERE
                                        </div>
    
                                        <div class="form-row">
                                            <div class="col-xl-12">
                                                <input type="text" class="form-control my-2 p-2" placeholder="{{request.user.name}}" id="hf_name" name="f_name" readonly>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-xl-6">
                                                <select id="inputState" class="form-control my-2 p-2" name = "dep" required>
                                                    <option selected disabled value="">Department:</option>
                                                    <option value="DCG">Document Control Group</option>
                                                    <option value="DED">Department of Industrial Education</option>
                                                    <option value="DES">Department of Engineering Sciences</option>
                                                    <option value="DIT">Department of Industrial Technology</option>
                                                    <option value="DLA">Department of Liberal Arts</option>
                                                    <option value="DMS">Department of Mathematics and Sciences</option>
                                                    <option value="DPE">Department of Physical Education, Culture and Sports</option>
                                                    <option value="ETP">ETEAP</option>
                                                    <option value="IDO">Infrastructure Development Office</option>
                                                    <option value="IQA">Internal Quality Audit</option>
                                                    <option value="ISC">Office of ISO Coordinator</option>
                                                    <option value="NST">NSTP</option>
                                                    <option value="OAA">Office of the Asst. Director for Academic Affairs</option>
                                                    <option value="OAC">Office of Accounting</option>
                                                    <option value="OAD">Office of Admission</option>
                                                    <option value="OAF">Office of the Asst. Director for Administration and Finance</option>
                                                    <option value="OAL">Office of Alumni Affairs</option>
                                                    <option value="OAS">Office of Administrative Services</option>
                                                    <option value="OAX">Office of Auxiliary Services</option>
                                                    <option value="OBA">Office of Bids and Awards</option>
                                                    <option value="OBD">Office of Budget</option>
                                                    <option value="OCD">Office of the Campus Director</option>
                                                    <option value="OCG">Off-campus Graduate</option>
                                                    <option value="OCL">Office of the Campus Librarian</option>
                                                    <option value="OCP">Office of Campus Planning</option>
                                                    <option value="OCR">Office of the Campus Registrar</option>
                                                    <option value="OCS">Office of Cashier</option>
                                                    <option value="OES">Office of Extension Services</option>
                                                    <option value="OFS">Office of Finance Services</option>
                                                    <option value="OGD">Office of Gender and Development</option>
                                                    <option value="OGS">Office of Guidance Services</option>
                                                    <option value="OHR">Office of Human Resources and Management</option>
                                                    <option value="OHS">Office of Health Services</option>
                                                    <option value="OIT">Office of University Information Technology</option>
                                                    <option value="OJP">Office of Industrial Relation and Job Placement</option>
                                                    <option value="OLK">Office of Linkages</option>
                                                    <option value="OPC">Office of Pollution Control</option>
                                                    <option value="OPR">Office of Procurement</option>
                                                    <option value="OQA">Office of the Accreditation and Quality Assurance</option>
                                                    <option value="ORE">Office of the Asst. Director for Research and Extension</option>
                                                    <option value="ORG">Office of Resource Generation</option>
                                                    <option value="ORM">Office of Records Management</option>
                                                    <option value="ORS">Office of Research Services</option>
                                                    <option value="OSA">Office of Student Affairs</option>
                                                    <option value="OSH">Office of 5S, Safety and Housekeeping</option>
                                                    <option value="OSP">Office of Supply</option>
                                                    <option value="PMC">Project Management Committee</option>
                                                    <option value="QMR">Office of the Quality Management Representative</option>
                                                </select>
                                            </div>
                                            <div class="col-xl-1 text-center d-flex justify-content-center align-items-center">
                                                Date:
                                            </div>
                                            <div class="col-xl-5">
                                                <input type="date" class="form-control my-2 p-2" placeholder="Date:" id="h_daterec" name="l_date"  required>
                                            </div>
                                        </div>
                                        <div class="descriptions col-12 m-2">
                                            Laboratory Information
                                        </div>
                                        <div class="form-row">
                                            <div class="col-xl-6">
                                                
                                                <select id="inputState" class="form-control my-2 p-2" name = 'lab_num'>
                                                    <option selected disabled value="">Laboratory Name</option>
                                                    {% for x in lnum%}
                                                    <option value="{{x}}">{{x}}</option>
                                                    {%endfor%}
    
                                                </select>
                                            </div>
                                            <div class="col-xl-6">
                                                <input type="text" class="form-control my-2 p-2" placeholder="Course & Section:" id="h_csec" name="crs_sec" required autocomplete="off" >
                                            </div>
                                        </div>
                                        
                                        <div id="range" class="form-row">
                                            <div class="col-xl-2 text-center d-flex justify-content-center align-items-center">
                                                Start Time:
                                            </div>
                                            <div class="col-xl-4">
                                                <input type="time" class="form-control my-2 p-2" mbsc-input placeholder="Please select..."  id="hs_time" name="s_time"  required>
                                            </div>
                                            <div class="col-xl-2 text-center d-flex justify-content-center align-items-center">
                                                End Time:
                                            </div>
                                            <div class="col-xl-4">
                                                <input type="time" class="form-control my-2 p-2" mbsc-input placeholder="Please select..."  id="he_time" name="e_time"  required>
                                            </div>
                                            <script>
                                                mobiscroll.datepicker('#time', {
                                                controls: ['time'],
                                                select: 'range',
                                                startInput: '#hs_time',
                                                endInput: '#he_time',
                                                touchUi: true
                                            });
                                            </script>
                                        </div>
                                        <div class="form-row text-center d-flex justify-content-center align-items-center">
                                            <div class=" col-xl-6 sign tempFrmWrapper" tabindex="1" elname="livefield-elem" comptype="25" id="Signature-li" needdata="true" compname="Signature" linkname="Signature" isvisible="true" mandatory="true" page_no="2" page_link_name="Page4"> 
    
    
    
                                                <label class="labelName"><span>Signature</span> 
                                                
                                                <em class="important">*</em>
                                                
                                                </label>
                                                
                                                    
                                                
                                                <div class="tempContDiv">
                                                
                                                    <div class="signContainer" elname="signContainer" id="signContainer-Signature"><canvas id="drawingCanvas-Signaturexx" signaturefieldparent="form" tabindex="-1" width="400" name = "f_signature"></canvas><canvas id="blankcanvas" signaturefieldparent="form" tabindex="-1" width="400" hidden></canvas>  
                                                        <div class="signArea" elname="signArea" id="sign-area-Signature" style="display:none" ></div><a id="clearSign" elname="clearSign" class="instrSpace" href="javascript:void(0);" onclick="clearSignature('drawingCanvas-Signaturexx');">Clear</a></div><p class="errorMessage" elname="error" id="error-Signature"></p>
                                                        </div><div class="clearBoth"></div>
                                                        <!--file upload signature-->
                                                        <div>Make sure to use a (.png) image file here.</div>
                                                        <div>
                                                            <img id="f_sign" name = "f_sign" hidden/>
                                                            <input type="text" id = "fl_sig" name = "fl_sig" hidden/>
                                                            <script>
                                                                var loadFiles = function(event) {
                                                                var image = document.getElementById('f_sign');
                                                                image.src = URL.createObjectURL(event.target.files[0]);
            
                                                                };
            
                                                            </script>
                                                            <input type="file" accept="image/*" onchange="loadFiles(event)"/>
                                                        </div>
                                                
                                                        <input type = "text" id = "fl_sig"  name = "fl_sig" hidden></input>
                                            </div>
                                        </div>
                                        <!--disclosure modal-------------------------------------------------------------------------------------------->    
                                        <div class="modal fade" id="confirmation1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                                                </div>
                                                <div class="modal-body">
                                                    Are you sure you want to send?
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                  <button type="submit" id = "btn1" class="btn btn-primary">Send</button>
                                                </div>
                                              </div>
                                            </div>
                                        </div>
                                    
                                    
                                    <!--BUTTONS-------------------------------------------------------------------------------------------->
                                    <div class="col-xl-12 mt-2">
                                        <p class="card-text">Check it properly before you send it.</p>
                                        <button type="button" class="btn btn-primary  float-right m-1" data-toggle="modal" data-target="#confirmation1">
                                                                    Submit
                                                                </button>
                                        
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
    
                        
                        <!--LABSCHED-------------------------------------------------------------------------------------------->    
                        <div  class="col-xl-11 collapse" id="table2">
                            <div class="jumbotron  m-1 "><br>
                                    
                                    
                                    
                                <div class="card-body">
                                    <form>
                                        <div class="formtitle">
                                                    
                                        </div>
                                        <div class="table-responsive-xl col-xl-12 " id="idtable">
                                            {% for q in sched %}
                                            <table class="table" id="myTable">
                                                
                                                <thead class="thead">
                                                    
                                                    <h3>{% for x in q%}
                                                        
                                                        {% if forloop.counter == 1 %}
                                                            {{x.lnum}}
                                                            {{ break }}
                                                        {% endif %}
                                                        {% endfor %}</h3>
                                                    <tr>
                                                        <th scope="col">MONDAY</th>
                                                        <th scope="col">TUESDAY</th>
                                                        <th scope="col">WEDNESDAY</th>
                                                        <th scope="col">THURSDAY</th>
                                                        <th scope="col">FRIDAY</th>
                                                        <th scope="col">SATURDAY</th>
                                                        
                                                    </tr>
                                                    
                                                </thead>
                                                
                                                <tbody>
                                                    
                                                        {% for p in q %}
                                                    <tr>
                                                        
                                                        <td scope="col" name="l1mon"  id="ta">
                                                            {{p.lmon}}
                                                        </td>
                                                        <td scope="col" name="l1tue"   id="ta">
                                                            {{p.ltue}}
                                                        </td>
                                                        <td scope="col" name="l1wed"   id="ta">
                                                            {{p.lwed}}
                                                        </td>
                                                        <td scope="col" name="l1thurs"   id="ta">
                                                            {{p.lthu}}
                                                        </td>
                                                        <td scope="col" name="l1fri"  id="ta">
                                                            {{p.lfri}}
                                                        </td>
                                                        <td scope="col" name="l1sat"   id="ta">
                                                            {{p.lsat}}
                                                        </td>
                                                        
                                                    </tr>

                                                    {% endfor %}
                                                    
                                                    {% endfor %}
                                                    
                                                </tbody>
                                            </table>
                                            
                                        </div>
                                        
                                    </form>
                                    <div class="descriptions col-12">
                                        APPROVED REQUEST
                                    </div>
                                    <div id="pasa">
                                        {% for p in approve %}
                                                                
                                        <p id="approved" name="approved">{{p.f_name}} {{p.l_date}} {{p.lab_num}} {{p.crs_sec}} {{p.s_time|time:"Gi"}}-{{p.e_time|time:"Gi"}}</p>
                                        {% endfor %}
                                    </div>
                                
                                    
                                    
                                
                                    
                                </div>
                            </div>
                            
                        
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        const canvas = document.getElementById("drawingCanvas-Signaturexx");
        document.getElementById("btn1").addEventListener('click', function() {
            
            if (canvas.toDataURL() == document.getElementById('blankcanvas').toDataURL()) {
                var canvass1 = document.createElement('CANVAS');
                canvass1.setAttribute('height', 350)
                canvass1.setAttribute('width', 350)
                var context1 = canvass1.getContext('2d');
                context1.drawImage(document.getElementById('f_sign'),0,0);
                var pic1 = canvass1.toDataURL();
                document.getElementsByName("fl_sig")[1].value = pic1;
            }
            else {

                const canvasURL = canvas.toDataURL();
                console.log(canvasURL);
                document.getElementsByName("fl_sig")[1].value = canvasURL;
            }
                       
        });

    </script>


<script type="module">setCanvasElemWidth("Signature");	//No I18N				   		
    $("#drawingCanvas-Signaturexx").mousedown(function (event) {
    var canvasElem = document.getElementById("drawingCanvas-Signaturexx"); //No I18N	
    var signatureFieldParent = $(canvasElem).attr('signaturefieldparent'); //No I18N
    var fontColor = "#000000";
    var inputElem = ""; //No I18N
    if(signatureFieldParent  == "subform") {
    inputElem = $("#formBodyDiv").find(".formFieldWrapper li[elemType=subFormField][viewtype=1] input[type=text]:first"); //No I18N
    if(inputElem.length == 0) { //No I18N
    inputElem = $("#formBodyDiv").find(".formFieldWrapper li[elemType=subFormField][viewtype=1] textarea:first"); //No I18N
    }
    }
    else { //No I18N
    inputElem = $("#formBodyDiv").find(".formFieldWrapper > .tempFrmWrapper > .tempContDiv input[type=text]:first"); //No I18N
    if(inputElem.length == 0) { //No I18N
    inputElem = $("#formBodyDiv").find(".formFieldWrapper > .tempFrmWrapper > .tempContDiv textarea:first"); //No I18N
    }
    }
    if(inputElem != "" && inputElem.length > 0) {
    fontColor = inputElem.css("color");// No I18N
    }
    var context = canvasElem.getContext("2d");
    // No I18N
    var position = getXYCoords(event, canvasElem,false);
    context.moveTo(position.X, position.Y);
    context.beginPath();
    $(this).mousemove(function (event) {
    startScribbling(event, canvasElem, context, false, fontColor);
    }).mouseup(function (event) {
    endScribbling(event, canvasElem, context, fontColor);
    var fieldElem = getClosestFieldElemLi(canvasElem);// No I18N
    removeErrorFromLiElem(fieldElem);// No I18N
    }).mouseout(function (event) {
    endScribbling(event, canvasElem, context, fontColor);
    var fieldElem = getClosestFieldElemLi(canvasElem);// No I18N
    removeErrorFromLiElem(fieldElem);// No I18N
    });
    this.addEventListener('touchstart', function(event){
    position = getXYCoords(event, canvasElem,true);
    context.moveTo(position.X, position.Y);
    context.beginPath();
    event.preventDefault();
    }, false);
    this.addEventListener('touchmove', function(event){
    startScribbling(event, canvasElem, context, true, fontColor);
    event.preventDefault();
    }, false);
    });
    var userAgent = window.navigator.userAgent;
    var msie = userAgent.indexOf("MSIE ");
    if (msie > 0) {
    $("#drawingCanvas-Signaturexx").keypress(function (event) {
    if (event.keyCode === 13) {
    event.preventDefault();
    
    }
    
    });
    }
    if (false == true)  //No I18N
    {
    $("#drawingCanvas-Signaturexx").css("pointer-events","none");//No I18N
    $("#drawingCanvas-Signaturexx").css("cursor","default");//No I18N
    }
    </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    {% for message in messages %}
    <script>
        swal("{{message}}","");
    </script>
    {% endfor %}
</body>

</html>