{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!----TAB NAME------------------------------------------------>
    <title>STUDENT INTERNET CONNECTIVITY</title>
    <!----TAB ICON------------------------------------------------>
    <link rel="icon" href="{% static 'images/TUP_LOGO.png'%}">
    <!----CSS AND JS------------------------------------------------>
    <link rel="stylesheet" href="{% static 'css/2R_report(sv).css'%}">
    <script src="{% static 'js/3R_rep(sv).js'%}"></script>
    <!----BOOTSTRAP LINK------------------------------------------------>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script defer="" type="text/javascript" src="https://static.zohocdn.com/forms/js/formstplivejs.5598e1e583c1d09fc270b76b7bc87fed.js"></script>
    <script defer="" type="text/javascript" src="https://static.zohocdn.com/forms/js/formsthirdpartylivejs.fa80d21e90eb2a92193fc45ef5617573.js"></script>
    <script defer="" type="text/javascript" src="https://static.zohocdn.com/forms/js/formscommonlive.66b46fe834fedf0c45347fdc5ff8e7ce.js"></script>
    <script defer="" type="text/javascript" src="https://static.zohocdn.com/forms/js/formslive.0749e7d876e08624d4ea48aa2cf0c94d.js"></script>
    <script defer="" type="text/javascript" src="https://static.zohocdn.com/forms/js/formsselect.b9384dcadf2bc7b3816527891df599f6.js"></script>

    <!----ADD UP------------------------------------------------>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!----font links---------->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,500;1,300&display=swap" rel="stylesheet">

</head>

<body>
    <div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">LOGOUT</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                Are you sure you want to logout?
            </div>
            <div class="modal-footer">
            
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <a href="{% url 'TupcSysApp:logout'%}" style="color:white" type="button" class="btn btn-primary" >Log out</a>
                
            </div>
          </div>
        </div>
    </div>
    <!--NAVBAR-------------------------------------------------------------------------------------------->

    <nav class="navbar">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()" id="openbtn">&#9776; </span>
        <div id="titulo">
            <a class="navbar-brand" href="#">REPORTS</a>
        </div>
        <img src="{% static 'images/TUP_LOGO.png'%}" width="100" height="80" alt="tuplogo" id="logo">

    </nav>
    <!--BREADCRUMB-------------------------------------------------------------------------------->
    <nav aria-label="breadcrumb ">
        <ol class="breadcrumb collapsed">
            <li class="mx-2  ml-auto active" ><a href="#" onclick="requestforpassreset()" id="bc">REQUEST FOR PASSWORD RESET</a></li>
            <li class="mx-2" onclick="borrow()" ><a href="#" id="bc">BORROW FORM</a></li>
        </ol>
        <script type="text/javascript">
          $(document).on('click', 'ol, li', function(){
              $(this).addClass('active').siblings().removeClass('active')
          })
      </script>
    </nav>

    <div>
        <div class="container-fluid ">

            <!--SIDEBAR-------------------------------------------------------------------------------------------->

            <div class="row no-gutters">
                <div class="col-xl-1 text-center">
                    <div id="mySidebar" class="sidebar">
                        <button class="closebtn" id="close" onclick="closeNav()">&times; </button>
                        <a href="{% url 'TupcSysApp:StudentHome'%}" ><i class="fa fa-lg fa-user-circle " aria-hidden="true"><br><h6 id="icons">HOME</h6></i></a>
                        <a href="{% url 'TupcSysApp:StudentInternet'%}"><i class="fa fa-lg fa-lg-1x fa-wifi" aria-hidden="true"><br><h6 id="icons">INTERNET</h6></i></a>
                        <a href="{% url 'TupcSysApp:StudentReports'%}" id="active"><i class="fa fa-lg fa-file-text" aria-hidden="true"><br><h6 id="icons">REPORT</h6></i></a>
                        <a href="" data-toggle="modal" data-target="#logout" id="lo"  data-toggle="tooltip" data-placement="top" title="Logout"><i class="fa fa-lg  fa-arrow-circle-left" aria-hidden="true"><br></i></a>
                    </div>
                </div>

                <!--CARD-------------------------------------------------------------------------------------------->

                <div class="col-xl-11 main">
                    <div class="container-fluid text-center d-flex justify-content-center align-items-center"><br><br>
                        
                        <div class="jumbotron  col-xl-11 m-1 " id="form2"><br>
                            <!---------------REQUEST FO PASSRESET-------------------------------------------------------------------------------->
                            <div class="card-body">
                                <form action="/StudentReports_RequestPass/" method="POST">
                                    {%csrf_token%}
                                    <div class="formtitle">
                                        FILL UP THE FORM HERE
                                    </div>
                                    <div class="descriptions col-12 m-2">
                                        Personal Information
                                    </div>
                                    <div class="form-row">
                                        <div class="col-xl-12">
                                            <input type="text" class="form-control my-2 p-2 " name="psname" id="psname" placeholder="{{request.user.name}}" readonly>
                                        </div>
                                        <div class="col-xl-12">
                                            <input type="text" class="form-control my-2 p-2" name="emp_idno" id="emp_idno" placeholder="{{request.user.username}}" readonly>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-xl-12">
                                            <select id="inputState" class="form-control my-2 p-2" name="Account" id="accounts" required>
                                                <option selected disabled value="">ID TYPE :</option>
                                                <option value="GSFE">GSFE</option>
                                                <option value="TUP EMAIL">TUP EMAIL</option>
                                                <option value="MS TEAMS">MS TEAMS</option>
                                                <option value="ERS ACCOUNT">ERS ACCOUNT</option>
                                               
                                            </select>
                                        </div>
                                        <div class="col-xl-12">
                                            <input type="text" class="form-control my-2 p-2" name="email" id="email" placeholder=" {{request.user.gsfe}}" readonly>
                                        </div>
                                    </div>
                                   
                                    <!--disclosure modal-------------------------------------------------------------------------------------------->    
                                    <div class="modal fade" id="confirmation2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to send?
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                              <button type="submit" class="btn btn-primary">Send</button>
                                            </div>
                                          </div>
                                        </div>
                                    </div>


                                    <!--BUTTONS-------------------------------------------------------------------------------------------->
                                    <div class="col-xl-12">
                                        <div class=checkbox>
                                            <input type="checkbox" name="terms" id="terms" required>
                                            <p class="card-text">Your information will be kept confidential and protected under the Data Privacy Act of 2012.</p>
                                        </div>
                                        <button type="button" class="btn btn-primary  float-right m-1"  data-toggle="modal" data-target="#confirmation2">
                                                                    Submit
                                                                </button>
               

                                    </div>

                                </form>

                            </div>
                        </div>
                        <div class="jumbotron col-xl-11 m-1 collapse" id="form1"><br>
                            <!---------------BORROW REQUEST-------------------------------------------------------------------------------->
                            <div class="card-body">
                                <form action="/StudentReports/" method="POST" id="borrowform" name="myform">
                                    {%csrf_token%}
                                    <div class="formtitle">
                                        FILL UP THE FORM HERE
                                    </div>
                                    <div class="descriptions">
                                        Request
                                    </div>
                                    <div class="form-row">
                                        <div class="col-xl-6">
                                            <input type="text" class="form-control my-2 p-2" placeholder="{{request.user.name}}" name="if_name5" readonly>
                                        </div>
                                            <div
                                            class="col-xl-3 text-center d-flex justify-content-center align-items-center"
                                        >
                                            Date Requested:
                                        </div>
                                        <div class="col-xl-3 text-center d-flex justify-content-center align-items-center">
                                            <input type="text" class="form-control my-2 p-2"  id = "current_date" name = "f_datereq1" readonly required>
                                        
                                                <script>
                                                    date = new Date();
                                                    year = date.getFullYear();
                                                    month = date.getMonth() + 1;
                                                    day = date.getDate();
                                                    document.getElementById("current_date").innerHTML = month + "/" + day + "/" + year;
                                                    document.getElementById("current_date").value = month + "/" + day + "/" + year;
                                                </script>
                                            </label>
                                        </div>
                                        
                                    </div>

                                    <div class="descriptions col-12 m-2">
                                        Request to Borrow
                                    </div>

                                    <!--checkbox btn-------------------------------------------------------------------------------------------->
                                    <div class="form-row text-center d-flex justify-content-center align-items-center m-3">
                                        <div class="col-xl-2 col-lg-6">
                                            <input class="form-check-input" type="radio" value="Projector" id="ir_borrow5" name="ir_borrow5">
                                            <label class="form-check-label" for="ir_borrow5">Projector</label>
                                          </div>
                                          
                                          <div class="col-xl-2 col-lg-6">
                                            <input class="form-check-input" type="radio" value="Extension" id="ir_borrow5" name="ir_borrow5">
                                            <label class="form-check-label" for="ir_borrow5">Extension</label>
                                          </div>
                                          
                                          <div class="col-xl-2 col-lg-6">
                                            <input class="form-check-input" type="radio" value="Patch Cord" id="ir_borrow5" name="ir_borrow5">
                                            <label class="form-check-label" for="ir_borrow5">Patch Cord</label>
                                          </div>
                  
                                          <div class="col-xl-2 col-lg-5">
                                            <input class="form-check-input" type="radio" value="Mouse" id="ir_borrow5" name="ir_borrow5">
                                            <label class="form-check-label" for="ir_borrow5">Mouse</label>
                                          </div>
                  
                                          <div class="col-xl-2 col-lg-5">
                                            <input class="form-check-input" type="radio" value="Keyboard" id="ir_borrow5" name="ir_borrow5">
                                            <label class="form-check-label" for="ir_borrow5">Keyboard</label>
                                          </div>
                                          
                                          <div class="col-xl-2 col-lg-5">
                                            <input class="form-check-input" type="radio" value="Monitor" id="ir_borrow5" name="ir_borrow5">
                                            <label class="form-check-label" for="ir_borrow5">Monitor</label>
                                          </div>
                                    </div>
                                    
                                    <div class="form-row text-center d-flex justify-content-center align-items-center m-3">
                                        <div class="col-xl-4 col-lg-6">
                                            <h6 class=""><input class="form-check-input" type="radio" id="others" name="ir_borrow5" onclick="other()" > Others</h6>
                                        </div>
                                        <div class="col-xl-6">
                                            <input type="text" class="form-control my-2 p-2" placeholder="Please Specify:" id="other_input"
                                             name="ir_borrow5" disabled  autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-xl-12">
                                            <input type="text" class="form-control my-2 p-2" placeholder="Reason for borrowing:" name="irf_borrow5" 
                                            required autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-xl-12 text-center d-flex justify-content-center align-items-center">
                                            <div class=" col-xl-6 sign tempFrmWrapper" tabindex="1" elname="livefield-elem" comptype="25" id="Signature1-li" needdata="true" compname="Signature1" linkname="Signature1" isvisible="true" mandatory="true" page_no="3" page_link_name="Page3"> 
                
                
                
                                                <label class="labelName"><span>Signature</span> 
                                                
                                                <em class="important">*</em>
                                                
                                                </label>
                                                
                                                    
                                                
                                                <div class="tempContDiv">
                                                
                                                <div class="signContainer" elname="signContainer" id="signContainer-Signature"><canvas id="drawingCanvas-Signaturexx" signaturefieldparent="form" tabindex="-1" width="400" name = "f_signature"></canvas><canvas id="blankcanvas" signaturefieldparent="form" tabindex="-1" width="400" hidden></canvas>  
                                                    <div class="signArea" elname="signArea" id="sign-area-Signature" style="display:none" ></div><a id="clearSign" elname="clearSign" class="instrSpace" href="javascript:void(0);" onclick="clearSignature('drawingCanvas-Signaturexx');">Clear</a></div><p class="errorMessage" elname="error" id="error-Signature"></p>
                                                    </div><div class="clearBoth"></div>
                                                    <!--file upload signature-->
                                                    <div>Make sure to use a (.png) image file here.</div>
                                                    <div>
                                                        <img id="f_sign" name = "f_sign" hidden/>
                                                        <input type="text" id = "i_sig5" name = "i_sig5" hidden/>
                                                        <script>
                                                            var loadFiles = function(event) {
                                                            var image = document.getElementById('f_sign');
                                                            image.src = URL.createObjectURL(event.target.files[0]);
        
                                                            };
        
                                                        </script>
                                                        <input type="file" accept="image/*" onchange="loadFiles(event)"/>
                                                    </div>
                                            
                                                    <input type = "text" id = "i_sig5"  name = "i_sig5" hidden></input>

                                            </div>
                                        </div>
                                    </div>                
                                     <!--disclosure modal-------------------------------------------------------------------------------------------->    
                                     <div class="modal fade" id="confirmation1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to send?
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                              <button type="submit" id="btn1" class="btn btn-primary">Send</button>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                    <!--BUTTONS-------------------------------------------------------------------------------------------->
                                    <div class="col-xl-12 mt-4">
                                        <div class=checkbox>
                                            <input type="checkbox" name="terms" id="terms" required>
                                            <p class="card-text">Your information will be kept confidential and protected under the Data Privacy Act of 2012.</p>
                                        </div>
                                        <button type="button" class="btn btn-primary  float-right m-1"   data-toggle="modal" data-target="#confirmation1">
                                                                    Submit
                                                                </button>
                          
                                    </div>
                                </form>
                                <div class="row mt-3">
                                    <div class="col-md-12">
                                        {% if fbreq %}
                                            {{ fbreq }}
                                        {% endif %}
                                    </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--BG CALL-------------------------------------------------------------------------------------------->
            <div id="pic" class="view drk "></div>
        </div>
    </div>
    <script type="text/javascript">
        const canvas = document.getElementById("drawingCanvas-Signaturexx");
        document.getElementById("btn1").addEventListener('click', function() {
            
            if (canvas.toDataURL() == document.getElementById('blankcanvas').toDataURL()) {
                
                var canvass1 = document.createElement('CANVAS');
                canvass1.setAttribute('height', 350)
                canvass1.setAttribute('width', 350)
                var context1 = canvass1.getContext('2d');
                context1.drawImage(document.getElementById('f_sign'),0,0);
                var pic1 = canvass1.toDataURL();
                document.getElementsByName("i_sig5")[1].value = pic1;
            }
            else {

                const canvasURL = canvas.toDataURL();
                console.log(canvasURL);
                document.getElementsByName("i_sig5")[1].value = canvasURL;
            }
           
            var canvass = document.createElement('CANVAS');
            canvass.setAttribute('height', 350)
            canvass.setAttribute('width', 350)
            var context = canvass.getContext('2d');
            context.drawImage(document.getElementById('f_pic'),0,0);
            var pic = canvass.toDataURL();
            document.forms['myform']['f_pics'].value = pic;
            

            
        });

    </script>


<script type="module">setCanvasElemWidth("Signature");	//No I18N				   		
    $("#drawingCanvas-Signaturexx").mousedown(function (event) {
    var canvasElem = document.getElementById("drawingCanvas-Signaturexx"); //No I18N	
    var signatureFieldParent = $(canvasElem).attr('signaturefieldparent'); //No I18N
    var fontColor = "#000000";
    var inputElem = ""; //No I18N
    if(signatureFieldParent  == "subform") {
    inputElem = $("#formBodyDiv").find(".formFieldWrapper li[elemType=subFormField][viewtype=1] input[type=text]:first"); //No I18N
    if(inputElem.length == 0) { //No I18N
    inputElem = $("#formBodyDiv").find(".formFieldWrapper li[elemType=subFormField][viewtype=1] textarea:first"); //No I18N
    }
    }
    else { //No I18N
    inputElem = $("#formBodyDiv").find(".formFieldWrapper > .tempFrmWrapper > .tempContDiv input[type=text]:first"); //No I18N
    if(inputElem.length == 0) { //No I18N
    inputElem = $("#formBodyDiv").find(".formFieldWrapper > .tempFrmWrapper > .tempContDiv textarea:first"); //No I18N
    }
    }
    if(inputElem != "" && inputElem.length > 0) {
    fontColor = inputElem.css("color");// No I18N
    }
    var context = canvasElem.getContext("2d");
    // No I18N
    var position = getXYCoords(event, canvasElem,false);
    context.moveTo(position.X, position.Y);
    context.beginPath();
    $(this).mousemove(function (event) {
    startScribbling(event, canvasElem, context, false, fontColor);
    }).mouseup(function (event) {
    endScribbling(event, canvasElem, context, fontColor);
    var fieldElem = getClosestFieldElemLi(canvasElem);// No I18N
    removeErrorFromLiElem(fieldElem);// No I18N
    }).mouseout(function (event) {
    endScribbling(event, canvasElem, context, fontColor);
    var fieldElem = getClosestFieldElemLi(canvasElem);// No I18N
    removeErrorFromLiElem(fieldElem);// No I18N
    });
    this.addEventListener('touchstart', function(event){
    position = getXYCoords(event, canvasElem,true);
    context.moveTo(position.X, position.Y);
    context.beginPath();
    event.preventDefault();
    }, false);
    this.addEventListener('touchmove', function(event){
    startScribbling(event, canvasElem, context, true, fontColor);
    event.preventDefault();
    }, false);
    });
    var userAgent = window.navigator.userAgent;
    var msie = userAgent.indexOf("MSIE ");
    if (msie > 0) {
    $("#drawingCanvas-Signaturexx").keypress(function (event) {
    if (event.keyCode === 13) {
    event.preventDefault();
    
    }
    
    });
    }
    if (false == true)  //No I18N
    {
    $("#drawingCanvas-Signaturexx").css("pointer-events","none");//No I18N
    $("#drawingCanvas-Signaturexx").css("cursor","default");//No I18N
    }
    </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    {% for message in messages %}
    <script>
        swal("{{message}}","");
    </script>
    {% endfor %}
</body>

</html>