{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!----TAB NAME------------------------------------------------>
    <title>STUDENT INTERNET CONNECTIVITY</title>
    <!----TAB ICON------------------------------------------------>
    <link rel="icon" href="{% static 'images/TUP_LOGO.png'%}">
    <!----CSS AND JS------------------------------------------------>
    <script src="{% static 'js/3R_rep(sv).js'%}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/2R_report(sv).css'%}">

    <!----BOOTSTRAP LINK------------------------------------------------>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!----ADD UP------------------------------------------------>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!----font links---------->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,500;1,300&display=swap" rel="stylesheet">

</head>

<body>
    <div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">LOGOUT</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                Are you sure you want to logout?
            </div>
            <div class="modal-footer">
            
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <a href="{% url 'TupcSysApp:logout'%}" style="color:white" type="button" class="btn btn-primary" >Log out</a>
                
            </div>
          </div>
        </div>
    </div>
    <!--NAVBAR-------------------------------------------------------------------------------------------->

    <nav class="navbar">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()" id="openbtn">&#9776; </span>
        <div id="titulo">
            <a class="navbar-brand" href="#">REPORTS</a>
        </div>
        <img src="{% static 'images/TUP_LOGO.png'%}" width="100" height="80" alt="tuplogo" id="logo">

    </nav>
    <!--BREADCRUMB-------------------------------------------------------------------------------->
    <nav aria-label="breadcrumb ">
        <ol class="breadcrumb ">
            <li class="breadcrumb-item ml-auto" onclick="borrow()"><a href="#" id="bc">BORROW FORM</a></li>
            <li class="breadcrumb-item" onclick="requestforpassreset()"><a href="#" id="bc">REQUEST FOR PASSWORD RESET</a></li>
        </ol>
    </nav>

    <div>
        <div class="container-fluid ">

            <!--SIDEBAR-------------------------------------------------------------------------------------------->

            <div class="row no-gutters">
                <div class="col-xl-1 text-center">
                    <div id="mySidebar" class="sidebar">
                        <button class="closebtn" id="close" onclick="closeNav()">&times; </button>
                        <a href="{% url 'TupcSysApp:StudentHome'%}" ><i class="fa fa-2x fa-user-circle " aria-hidden="true"><br><h6 id="icons">HOME</h6></i></a>
                        <a href="{% url 'TupcSysApp:StudentInternet'%}"><i class="fa fa-2x fa-lg-1x fa-wifi" aria-hidden="true"><br><h6 id="icons">INTERNET</h6></i></a>
                        <a href="{% url 'TupcSysApp:StudentReports'%}" id="active"><i class="fa fa-2x fa-file-text" aria-hidden="true"><br><h6 id="icons">REPORT</h6></i></a>
                        <a href="" data-toggle="modal" data-target="#logout"><i class="fa fa-2x fa-sign-out" aria-hidden="true"><br><h6 id="icons">LOG OUT</h6></i></a>
                    </div>
                </div>

                <!--CARD-------------------------------------------------------------------------------------------->

                <div class="col-xl-11 main">
                    <div class="container-fluid text-center d-flex justify-content-center align-items-center"><br><br>
                        <div class="jumbotron col-11 m-1" id="form1"><br>
                            <!---------------BORROW REQUEST-------------------------------------------------------------------------------->
                            <div class="card-body">
                                <form action="/StudentReports/" method="POST" id="borrowform">
                                    {%csrf_token%}
                                    <div class="formtitle">
                                        FILL UP THE FORM HERE
                                    </div>
                                    <div class="descriptions">
                                        Request
                                    </div>
                                    <div class="form-row">
                                        <div class="col-xl-12">
                                            <input type="text" class="form-control my-2 p-2" placeholder="{{request.user.name}}" name="if_name5" readonly>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-xl-1 text-center d-flex justify-content-center align-items-center">
                                            Date Requested:
                                        </div>
                                        <div class="col-xl-5">
                                            <input type="date" class="form-control my-2 p-2" placeholder="Date Assigned:" name="i_date5" required>
                                        </div>
                                        <div class="col-xl-1 text-center d-flex justify-content-center align-items-center">
                                            Time:
                                        </div>
                                        <div class="col-xl-5">
                                            <input type="time" class="form-control my-2 p-2" placeholder="Time:" name="i_time5" required>
                                        </div>

                                    </div>
                                    <div class="descriptions col-12 m-2">
                                        Request to Borrow
                                    </div>

                                    <!--checkbox btn-------------------------------------------------------------------------------------------->
                                    <div class="form-row text-center d-flex justify-content-center align-items-center m-3">
                                        <div class="col-xl-4 col-lg-6">
                                            <h6 class=""><input type="checkbox" class="radio " name="ir_borrow5" value = "Projector"> Projector</h6>
                                        </div>
                                        <div class="col-xl-4 col-lg-6">
                                            <h6 class=""><input type="checkbox" class="radio " name="ir_borrow5" value = "Extension"> Extension</h6>
                                        </div>
                                        <div class="col-xl-4 col-lg-12">
                                            <h6 class=""><input type="checkbox" class="radio " name="ir_borrow5" value = "Patch Cord"> Patch Cord</h6>
                                        </div>
                                    </div>
                                    <div class="form-row text-center d-flex justify-content-center align-items-center m-3">
                                        <div class="col-xl-4 col-lg-6">
                                            <h6 class=""><input type="checkbox" class="radio" name="station"> Others</h6>
                                        </div>
                                        <div class="col-xl-6">
                                            <input type="text" class="form-control my-2 p-2" placeholder="Please Specify:" name="ir_borrow5" disabled>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-xl-12">
                                            <input type="text" class="form-control my-2 p-2" placeholder="Reason for borrowing:" name="irf_borrow5" required>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-xl-12">
                                            <input type="text" class="form-control my-2 p-2" placeholder="Signature:" name="i_sig5" required>
                                        </div>
                                    </div>                    
                                     <!--disclosure modal-------------------------------------------------------------------------------------------->    
                                     <div class="modal fade" id="confirmation1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to send?
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                              <button type="submit" class="btn btn-primary">Send</button>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                    <!--BUTTONS-------------------------------------------------------------------------------------------->
                                    <div class="col-xl-12 ">
                                        <div class=checkbox>
                                            <input type="checkbox" name="terms" id="terms" required>
                                            <p class="card-text">Your information will be kept confidential and protected under the Data Privacy Act of 2012</p>
                                        </div>
                                        <button type="button" class="btn btn-primary  float-right m-1"   data-toggle="modal" data-target="#confirmation1">
                                                                    Submit
                                                                </button>
                                        <button type="button" class="btn btn-danger float-right m-1">
                                                                    Clear
                                                                </button>
                                    </div>
                                </form>

                                
                            </div>
                        </div>
                        <div class="jumbotron col-11 m-1 collapse" id="form2"><br>
                            <!---------------BORROW REQUEST-------------------------------------------------------------------------------->
                            <div class="card-body">
                                <form action="/StudentReports_RequestPass/" method="POST">
                                    {%csrf_token%}
                                    <div class="formtitle">
                                        FILL UP THE FORM HERE
                                    </div>
                                    <div class="descriptions col-12 m-2">
                                        Personal Information
                                    </div>
                                    <div class="form-row">
                                        <div class="col-xl-12">
                                            <input type="text" class="form-control my-2 p-2 " name="psname" id="psname" placeholder="{{request.user.name}}" readonly>
                                        </div>
                                        <div class="col-xl-12">
                                            <input type="text" class="form-control my-2 p-2" name="emp_idno" id="emp_idno" placeholder="Student Number" required>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-xl-12">
                                            <select id="inputState" class="form-control my-2 p-2" name="Account" id="accounts" required>
                                                <option selected disabled value="">ID TYPE :</option>
                                                <option value="GSFE">GSFE</option>
                                                <option value="TUP EMAIL">TUP EMAIL</option>
                                                <option value="MS TEAMS">MS TEAMS</option>
                                                <option value="ERS ACCOUNT">ERS ACCOUNT</option>
                                                <option value="NAS">NAS</option>
                                            </select>
                                        </div>
                                        <div class="col-xl-12">
                                            <input type="text" class="form-control my-2 p-2" name="email" id="email" placeholder="Email" required>
                                        </div>
                                    </div>
                                   
                                    <!--disclosure modal-------------------------------------------------------------------------------------------->    
                                    <div class="modal fade" id="confirmation2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to send?
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                              <button type="submit" class="btn btn-primary">Send</button>
                                            </div>
                                          </div>
                                        </div>
                                    </div>


                                    <!--BUTTONS-------------------------------------------------------------------------------------------->
                                    <div class="col-xl-12">
                                        <div class=checkbox>
                                            <input type="checkbox" name="terms" id="terms" required>
                                            <p class="card-text">Your information will be kept confidential and protected under the Data Privacy Act of 2012</p>
                                        </div>
                                        <button type="button" class="btn btn-primary  float-right m-1"  data-toggle="modal" data-target="#confirmation2">
                                                                    Submit
                                                                </button>
                                        <button type="button" class="btn btn-danger float-right m-1">
                                                                    Clear
                                                                </button>

                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--BG CALL-------------------------------------------------------------------------------------------->
            <div id="pic" class="view drk "></div>
        </div>
    </div>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    {% for message in messages %}
    <script>
        swal("{{message}}","");
    </script>
    {% endfor %}
</body>

</html>