<!DOCTYPE html>
<html lang="en">
  {% load static%}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!----TAB NAME------------------------------------------------>
    <title>UITC RECORDS</title>
    <!----TAB ICON------------------------------------------------>
    <link rel="icon" href="{% static 'images/TUP_LOGO.png'%}" />
    <!----CSS AND JS------------------------------------------------>
    <script src=""></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/5Ewificon(fv).css'%}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,500;1,300&display=swap" rel="stylesheet">


    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    
    </head>
    
    
    <body>
        
        <div class="container-fluid ">
            <div class="row no-gutters">
                <div class="col-xl-6 col-12">
                    <button type="button" class="btn btn-primary btn-block my-2 p-2 download" onclick="window.print()">Print</button>
                </div>
                <div class="col-xl-6 col-12">
                    <button type="button" class="btn btn-primary btn-block my-2 p-2 download" id="dwnld_btn1">Download</button>
                </div>
                
            </div>
        </div>
    
    
       
    
        <div class="container-fluid all" id="all">
            <br>
            <div class="row no-gutters">
                <div class="tophead col-2 text-center"  id="tophead2" >
                    <img src="{% static 'images/TUP_LOGO.png'%}" width="180" height="150"  alt="tuplogo" id="logo" class="mt-3">
                            
                </div>
                <div class="tophead2 col-10 text-center  align-items-center " id="tophead">
                    <div class="mt-4">
                        <span class="line1">TECHNOLOGICAL UNIVERSITY OF THE PHILIPPINES CAVITE CAMPUS</span><br>
                        <span class="line2">Carlos Q. Trinidad Avenue, Salawag, Dasmarinas City, Cavite, Philippines</span><br>
                        <span class="line3">TELEFAX: (046) 416-4920</span><br>
                        <span class="line4">EMAIL: cavite@tup.edu.ph | WEBSITE: www.tup.edu.ph</span><br>
                    </div>
                    
    
                </div>
               
                
                
    
            </div>
            <div class="row no-gutters ">
                  
                <div class="tophead3 col-2 text-center "  id="tophead2" >
                    <div class="mt-4">
                        <span class="line1">OIT</span><br>
                    </div>
                            
                </div>
                <div class="tophead4 col-10 text-center  align-items-center " id="tophead">
                    <div class="mt-2">
                        <span class="line1">WIFI-CONNECTIVITY REGISTRATION FORM</span><br>
                        <span class="line1">(For Students Only)</span><br>
                        
                    </div>
                    
    
                </div>
                
                
    
            </div>
            
            
           
            <div class="row no-gutters ">
                <div class="col-xl-12" >
                    <form>
                                                
                        <div class=" d-flex justify-content-center align-items-center my-5 m-3">
                            <div class="col-xl-12 col-lg-12">
                                <span class="info">Name:</span><br>
                                
                            </div> 
                        </div>
                        <div class=" d-flex justify-content-center align-items-center my-5 m-3">
                            <div class="col-xl-6 col-lg-6">
                                <span class="info">Department:</span><br>
                            </div> 
                            <div class="col-xl-6 col-lg-6">
                                <span class="info">Designation:</span><br>
                            </div>
                        </div>
                        
                        <div class=" d-flex justify-content-center align-items-center mt-5 m-3">
                            <div class="col-xl-12 col-lg-12">
                                <span class="info">System:</span><br>
                            </div> 
                        </div>
                        <br>
                        <div class=" d-flex justify-content-center align-items-center my-5 m-3">
                            <div class="col-xl-12 col-lg-12">
                                <span class="info">MAC Address:</span><br>
                            </div> 
                        </div>
                        <div class=" d-flex justify-content-center align-items-center  mt-5 m-3">
                            <div class="col-xl-12 col-lg-12">
                                <span class="info">Mobile No.:</span><br>
                            </div> 
                        </div>
                        <div class=" d-flex justify-content-center align-items-center mb-5 m-3">
                            <div class="col-xl-12 col-lg-12">
                                <span class="info">Email Address:</span><br>
                            </div> 
                        </div>
                        <br>
                        
                        <br>
                        <hr id="l">
                        <div class=" d-flex justify-content-center align-items-center mt-5 m-3">
                            <div class="col-xl-12 col-lg-12">
                                <span class="info">I understand that the Wi-Fi connectivity is provided to me os for academic work only. 
                                    The above mentioned system solely belongs to me. I have gone through the norms and regulations of using the Wi-Fi
                                connectivity and I abide by it. I will not misuse this facility by any means</span><br>
                            </div> 
                        </div>
                        <br><br>
                        <div class=" d-flex justify-content-center align-items-center m-3">
                            <div class="col-xl-12 col-lg-12">
                                <span class="info">Employee Name:</span><br>
                            </div> 
                        </div>
                
                        
                        <div class=" d-flex justify-content-center align-items-center m-3">
                            <div class="col-xl-12 col-lg-12">
                                <span class="info"> Signature:</span><br>
                            </div> 
                        </div>
                        <br>
                        <div class=" d-flex justify-content-center align-items-center m-3">
                            <div class="col-xl-12 col-lg-12">
                                <span class="info">Date</span><br>
                            </div> 
                        </div>
                
                        
                    </form>
                </div>
                
                
                
    
            </div>
            
            
            
        </div>
    
    
    
    
    
    
        
        <script type="text/javascript">
            $("body").on("click", "#dwnld_btn1", function () {
                html2canvas($('#all')[0], {
                    onrendered: function (canvas) {
                         var data = canvas.toDataURL();
                        var docDefinition = {
                            content: [{
                                image: data,
                                width: 500
                            }]
                        };
                        pdfMake.createPdf(docDefinition).download("Wi-Fi Connectivity Form.pdf");
                    }
                });
            });
            
        </script>
        
    
    
    
    
    
    
    
    </body>
    
    </html>