{%load static%}
<html>
<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">

  <link rel="stylesheet" type="text/css" href="{% static 'css/5HID.css'%}">
    
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,500;1,300&display=swap" rel="stylesheet">


 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
 <a href="{% url 'TupcSysApp:UitcID'%}"  id="active"><i class="fa fa-2x fa-id-card" aria-hidden="true"><br><h6 id="icons">ID'S</h6></i></a>

<title>{{p.ff_name}} {{p.fl_name}}</title>

</head>

<body>
 
      <div class="container-fluid ">
        <div class="row no-gutters">

            <div class="col-xl-12 col-12">
                <button type="button" class="btn btn-primary btn-block my-2 p-2 download" id="dwnld_btn1">Download</button>
            </div>
            
        </div>
      </div>

      <div class="page" id="all" >
        <div class="container-fluid ">
          {% for p in data1 %}
          <div class="row no-gutters">
            <div class="col-xl-12 text-center d-flex align-items-center justify-content-center  mt-5">
              <div class="card">
                <div class="text-xenter">
                  <div class="pp">
                            
                      <img class="profile-img" src="{{p.f_pic}}" alt="" >
                  </div>
                  
                  <div class="names">
                      <h4 class="profile-name">{{p.ff_name}} {{p.fm_name}} {{p.fl_name}}</h4>
                      <p class="profile-name2">faculty</p>
                      
                      <img class="signature" src="{{p.f_signature}}" alt="">
                      <p class="number">ID No. {{p.f_emp}}</p>
                  </div>
                </div>
              </div>
              <div class="card2 ">
                
                <div class="row no-gutters" id="pad">
                  <div class="tophead col-4 text-center"  id="tophead2" >
                    GSIS No.
                              
                  </div>
                  
                  <div class="tophead2 col-8 text-center justify-content-center align-items-center " id="tophead">
                    <p id="words"> {{p.f_gsis}}</p>
                  </div>
                  <div class="tophead col-4 text-center"  id="tophead2" >
                    GSIS Policy No.
                              
                  </div>
                  <div class="tophead2 col-8 text-center  align-items-center " id="tophead">
                    <p id="words" > {{p.f_gsisp}}</p>
                  </div>
                  <div class="tophead col-4 text-center"  id="tophead2" >
                  TIN No.
                              
                  </div>
                  <div class="tophead2 col-8 text-center  align-items-center " id="tophead">
                    <p id="words"> {{p.f_tin}}</p>
                  </div>
                  <div class="tophead col-4 text-center"  id="tophead2" >
                    PAG-IBIG No.
                              
                  </div>
                  <div class="tophead2 col-8 text-center  align-items-center " id="tophead">
                    <p id="words"> {{p.f_pagibig}}</p>
                  </div>
                  <div class="tophead col-4 text-center"  id="tophead2" >
                    Philhealth No.
                              
                  </div>
                  <div class="tophead2 col-8 text-center  align-items-center " id="tophead">
                    <p id="words"> {{p.f_phil}}</p>
                  </div>
                  <div class=" col-12 text-center  align-items-center ">
                    <div class="descriptions d-flex justify-content-center align-items-center  ">
                      In case of emergency, contact:
                    </div>
                  </div>
                  
                  <div class="tophead col-12 text-center"  id="tophead2" >
                    
                              
                  </div>
                  <div class="tophead col-12 text-center "  id="topheadaddress" >
                    
                    <p> {{p.f_add}}</p>    
                  </div>
                  <div class="tophead col-12 text-center"  id="tophead2" >
                    
                              
                  </div>
                  <div class=" col-4 text-center"  id="certified" >
                    CERTIFIED BY:
                              
                  </div>
                  <div class=" col-8 text-center"  id="certifiedname" >
                    MYRNA M. TEPORA, Ph. D.
                    Campus Director
                              
                  </div>
                  <div class=" col-12 descriptions">
                    <div class=" col-6" id="note">
                      If found, please return to:
                      HRD Office, TUP CAVITE
                      Carlos Q, Trinidad Ave.,
                      Salawag, Dasmarinaz City
                      Cavite 4134,
                      Tel. No. 0464164920
                    </div>
                    
                  
                  
                </div>
                
                
                  
              {%endfor%}
  
              </div>
  
              </div>
            </div>
            
            
          </div>
          
        
        </div>

        

      </div>

  



  

    
  
  
</body>
<script type="text/javascript">
  $("body").on("click", "#dwnld_btn1", function () {
    html2canvas($("#all")[0], {
      onrendered: function (canvas) {
        var data = canvas.toDataURL();
        var docDefinition = {
          content: [
            {
              image: data,
              width: 500,
            },
          ],
        };
        pdfMake
          .createPdf(docDefinition)
          .download("Maintenance.pdf");
      },
    });
  });
</script>

</html>