* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*****************************************SIDEBAR*******************************/

.sidebar {
    height: 100%;
    width: 140px !important;
    position: fixed;
    /* Stay in place */
    top: 0;
    left: 0;
    background-color: #505b66;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    z-index: 2;
    /* Stay on top */
}

#icons {
    margin: 10px;
    margin-top: 12px !important;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*for active button correspond to its html site*/

#active {
    color: #ffffff;
    background-color: #1f8089e1;
    transform: scale(1);
}


/*for logo border*/

#logo {
    border-bottom: 2px solid rgba(0, 0, 0, 0.171);
}


/* The sidebar links */

.sidebar a {
    padding: 8px 8px 8px 10px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    text-align: center;
}


/* When you mouse over the navigation links, change their color */

.sidebar a:hover {
    color: #ffffff;
    background-color: #42aab354;
    transition: .2s ease-in;
    transform: scale(1.2);
}

.sidebar a:focus {
    color: #ffffff;
    border: 4px solid #fff;
    animation: anim shadow .3s forwards;
    background-color: #1c625dcc;
    transition: .2s ease-in;
}


/* Position and style the close button (top) */

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    background-color: #505b66;
    color: white;
    border-radius: 5px;
    border: none;
}


/***************************************** NAVBAR*******************************/


/* The button used to open the sidebar */

#openbtn:hover {
    color: rgb(11, 125, 137) !important;
    transition: 0.3s;
}

.navbar {
    background-color: #10000098!important;
    color: white !important;
    width: 100% !important;
    height: 100px;
    margin-left: auto;
    cursor: default !important;
    position: absolute;
    z-index: 1;
}

.navbar-brand {
    font-size: 40px !important;
    cursor: default !important;
    color: white !important;
}

#titulo {
    margin-left: 200px;
    display: flex;
    position: absolute;
}


/*****************************************main contents*******************************/

.jumbotron {
    border-radius: 20px !important;
}


/*to do card style*/

#to-do {
    color: #05a2a0ef;
    font-size: 60px !important;
    font-weight: lighter !important;
    padding-bottom: 40px !important;
    padding-top: 0px !important;
    cursor: default;
    margin-top: -80px !important;
    margin-bottom: -10px;
}


/*to-do text area*/

#textarea1 {
    border-radius: 20px;
}


/*****************************************BACKGROUND*******************************/

html,
body,
header,
#pic {
    background-image: url("TUP BG GRAY.png");
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.view {
    background: url("TUP BG GRAY.png");
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}


/*****************************************SCREEN ADJUSTMENTS*******************************/


/*************************xtra large*****/


/*************************paglumagpas sa max width mababalik sa default setup*****/

@media screen and (max-width: 1200px) {
    .sidebar {
        height: 100%;
        width: 19% !important;
        position: fixed;
        /* Stay in place */
        top: 0;
        left: 0;
        background-color: #505b66;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
        z-index: 2;
        /* Stay on top */
    }
    #hp {
        margin-left: 0px !important;
        font-size: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    /* The sidebar links */
    .sidebar a {
        padding: 8px 8px 8px 10px;
        text-decoration: none;
        font-size: 25px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }
    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 35px;
        font-size: 24pt;
        margin-left: 50px;
        background-color: #505b66;
        color: white;
        border-radius: 5px;
        border: none;
    }
    .navbar-brand {
        padding-left: 0px !important;
        font-size: 21pt !important;
        cursor: default !important;
        color: white !important;
    }
}


/*************************large*****/

@media screen and (max-width: 991px) {
    .sidebar {
        height: 100%;
        width: 18% !important;
        position: fixed;
        /* Stay in place */
        top: 0;
        left: 0;
        background-color: #505b66;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
        z-index: 2;
        /* Stay on top */
    }
    #hp {
        margin-left: 0px !important;
        font-size: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    /* The sidebar links */
    .sidebar a {
        padding: 8px 8px 8px 10px;
        text-decoration: none;
        font-size: 24pt;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }
    .navbar-brand {
        padding-left: 0px !important;
        font-size: 21pt !important;
        cursor: default !important;
        color: white !important;
    }
}


/*************************medium*****/

@media screen and (max-width: 768px) {
    .sidebar {
        height: 100vh;
        /* 100% Full-height */
        width: 17%;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 2;
        /* Stay on top */
        top: 0;
        left: 0;
        background-color: #505b66;
        /* Black*/
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 60px;
        /* Place content 60px from the top */
        transition: 0.5s;
        /* 0.5 second transition effect to slide in the sidebar */
        display: none;
    }
    .sidebar a {
        padding: 8px 8px 8px 10px;
        text-decoration: none;
        font-size: 22pt;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }
    .navbar-brand {
        padding-left: 0px !important;
        font-size: 21pt !important;
        cursor: default !important;
        color: white !important;
    }
    #titulo {
        margin-left: 120px;
        display: flex;
        position: absolute;
    }
}


/*************************small*****/

@media screen and (max-width: 576px) {
    .navbar-brand {
        padding-left: 0px !important;
        font-size: 21pt !important;
        cursor: default !important;
        color: white !important;
    }
    .sidebar {
        height: 100vh;
        /* 100% Full-height */
        width: 20% !important;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 2;
        /* Stay on top */
        top: 0;
        left: 0;
        background-color: #505b66;
        /* Black*/
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 60px;
        /* Place content 60px from the top */
        transition: 0.5s;
        /* 0.5 second transition effect to slide in the sidebar */
        display: none;
    }
    .sidebar a {
        padding: 8px 8px 8px 10px;
        text-decoration: none;
        font-size: 20pt;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }
    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 24pt;
        margin-left: 50px;
        background-color: #505b66;
        color: white;
        border-radius: 5px;
    }
    .fa {
        font-size: 7vw !important;
    }
    #titulo {
        margin-left: 100px;
        display: flex;
        position: absolute;
    }
}


/*************************lower than small lang*****/

@media screen and (max-width: 450px) {
    .sidebar {
        height: 100vh;
        /* 100% Full-height */
        width: 50% !important;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Stay on top */
        top: 0;
        left: 0;
        background-color: #505b66;
        /* Black*/
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 60px;
        /* Place content 60px from the top */
        transition: 0.5s;
        /* 0.5 second transition effect to slide in the sidebar */
        display: none;
    }
    .sidebar a {
        padding: 8px 8px 8px 10px;
        text-decoration: none;
        font-size: 20pt;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }
    .fa {
        font-size: 10vw !important;
    }
    .navbar-brand {
        padding-left: 0px !important;
        font-size: 18pt !important;
        cursor: default !important;
        color: white !important;
    }
    .main {
        overflow: hidden !important;
        overflow-y: scroll !important;
    }
    #titulo {
        margin-left: 80px;
        display: flex;
        position: absolute;
    }
}

@media screen and (max-width: 360px) {
    .sidebar {
        height: 100vh;
        /* 100% Full-height */
        width: 50% !important;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Stay on top */
        top: 0;
        left: 0;
        background-color: #505b66;
        /* Black*/
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 60px;
        /* Place content 60px from the top */
        transition: 0.5s;
        /* 0.5 second transition effect to slide in the sidebar */
        display: none;
    }
    .sidebar a {
        padding: 8px 8px 8px 10px;
        text-decoration: none;
        font-size: 18pt;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }
    .main {
        overflow: hidden !important;
        overflow-y: scroll !important;
    }
    #close {
        justify-content: center !important;
    }
    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 15px;
        font-size: 24pt;
        margin-left: 50px;
        background-color: #505b66;
        color: white;
        border-radius: 5px;
    }
    #titulo {
        margin-left: 60px;
        display: flex;
        position: absolute;
    }
}