* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*****************************************SIDEBAR*******************************/
input{
    border: 1px solid rgb(0, 0, 0) !important;
}
.sidebar {
    height: 100%;
    width: 140px !important;
    position: fixed;
    /* Stay in place */
    top: 0;
    left: 0;
    background-color: #004D00;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    z-index: 2;
    /* Stay on top */
}

#icons {
    margin: 10px;
    margin-top: 12px !important;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*for active button correspond to its html site*/

#active {
    color: #0096FF;
    background-color: #1b412dcc;
    transform: scale(1);
}


/*for logo border*/

#logo{
    float: right !important;
 }
 


/* The sidebar links */

.sidebar a {
    padding: 8px 8px 8px 10px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    text-align: center;
}


/* When you mouse over the navigation links, change their color */

.sidebar a:hover {
    color: #ffffff;
    background-color: #91f99154;
    transition: .2s ease-in;
    border-right: 4px solid white;
    
}
#active:hover {
    color: none;
    background-color: none;
    transition: none;
    border-right: none;
    
    
}

.sidebar a:focus {
    color: #ffffff;
    border-right: 2px solid white;
    animation: anim shadow .3s forwards;
    background-color: #1b412dcc;
    transition: .2s ease-in;
    transform: scale(1.2);
   
}

/* Position and style the close button (top) */

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    background-color: #004D00;
    color: white;
    border-radius: 5px;
    border: none;
}


/***************************************** NAVBAR*******************************/


/* The button used to open the sidebar */

#openbtn:hover {
    color: rgb(130, 167, 0) !important;
    transition: 0.3s;
}

.navbar {
    background-color: #10000098!important;
    color: white !important;
    width: 100% !important;
    height: 100px;
    margin-left: auto;
    cursor: default !important;
    position: absolute;
    z-index: 1;
}

.navbar-brand {
    font-size: 40px !important;
    cursor: default !important;
    color: white !important;
}

#titulo {
    margin-left: 200px;
    display: flex;
    position: absolute;
}


/*****************************************breadcrumb*******************************/

.breadcrumb {
    background-color: hsla(120, 48%, 57%, 0.61) !important;
}

.breadcrumb a {
    color: #fff !important;
    font-weight: lighter;
    font-size: 18pt;
    font-family: 'Barlow Condensed', sans-serif;
}


/*****************************************main contents (card content)*******************************/

.jumbotron {
    border-radius: 5px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}





/* table adjustments*/

.table {
    overflow: hidden;
    overflow-y: scroll;
}

.thead {
    background-color: #449049 !important;
    color: #fff !important;
}

#idtable{
    width: auto;
    overflow: hidden;
    overflow-x: scroll;
    height: 400px !important;
    overflow-y: scroll ;

}


/* border bottom line of the form title*/

.formtitle {
    border-bottom: 1px solid #4caf50 !important;
}


/* button position on card*/

.btnmove {
    float: right !important;
}

#btn3:hover{
    border: 2px solid BLUE !important; 
    background-color: #ffffff;
    transition: .2s ease-in-out;
    color: blue;
    font-weight: bold;
}

#btn4:hover{
    border: 2px solid RED !important; 
    background-color: #ffffff !important;
    transition: .2s ease-in-out;
    color: RED !important;
    font-weight: bold;
}
#btn4{
    
    color: rgb(255, 255, 255) !important;
    
}
.active {
 
    background-color: #1b412dcc;
    border-radius: 5px;
}

#net_notif{
    font-size: 12px !important;
    color: white !important;

    border-radius: 100px;
    background-color: red;
    font-weight: bolder;
    position: absolute;

}

#id_notif{
    font-size: 12px !important;
    color: white !important;

    border-radius: 100px;
    background-color: red;
    font-weight: bolder;
    position: absolute;
    margin-left: 15px;
}

#sched_notif{
    font-size: 12px !important;
    color: white !important;

    border-radius: 100px;
    background-color: red;
    font-weight: bolder;
    position: absolute;
}

#report_notif{
    font-size: 12px !important;
    color: white !important;

    border-radius: 100px;
    background-color: red;
    font-weight: bolder;
    position: absolute;
}

#lo{
    position: relative;
    top: 28%;
    padding-bottom: 15px;
    
}
/*****************************************BACKGROUND*******************************/

html,
body,
header,
#pic {
    background-image: url("/static/images/GREENBG .jpg");
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.view {
    background-image: url("/static/images/GREENBG .jpg");
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}


/*****************************************SCREEN ADJUSTMENTS*******************************/


/*************************xtra large*****/


/*************************paglumagpas sa max width mababalik sa default setup*****/

@media screen and (max-width: 1200px) {
    .sidebar {
        height: 100%;
        width: 19% !important;
        position: fixed;
        /* Stay in place */
        top: 0;
        left: 0;
        background-color: #004D00;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
        z-index: 2;
        /* Stay on top */
    }
    #hp {
        margin-left: 0px !important;
        font-size: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    /* The sidebar links */
    .sidebar a {
        padding: 8px 8px 8px 10px;
        text-decoration: none;
        font-size: 25px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }
    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 35px;
        font-size: 24pt;
        margin-left: 50px;
        background-color: #004D00;
        color: white;
        border-radius: 5px;
        border: none;
    }
    .navbar-brand {
        padding-left: 0px !important;
        font-size: 21pt !important;
        cursor: default !important;
        color: white !important;
    }
}


/*************************large*****/

@media screen and (max-width: 991px) {
    .sidebar {
        height: 100%;
        width: 18% !important;
        position: fixed;
        /* Stay in place */
        top: 0;
        left: 0;
        background-color: #004D00;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
        z-index: 2;
        /* Stay on top */
    }
    #hp {
        margin-left: 0px !important;
        font-size: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    /* The sidebar links */
    .sidebar a {
        padding: 8px 8px 8px 10px;
        text-decoration: none;
        font-size: 24pt;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }
    .navbar-brand {
        padding-left: 0px !important;
        font-size: 21pt !important;
        cursor: default !important;
        color: white !important;
    }
    li:after {
     
        position: absolute;
        display: inline-block;
        right: 0;
        width: 2em;
        text-align: center;
      }
    li:last-child {
      font-weight: bold;
    }
      li:last-child:after {
        content: '';
      }
    
    a {
      text-decoration: none;
      display: inline-block;
      color: #333;
      white-space: nowrap;
    }
      a:hover {
        text-decoration: underline;
      }
    
    
    /* Collapsed breadcrumbs */
    
    .collapsed li {
      overflow: hidden;
    }
      .collapsed li:after {
        background: rgb(227,227,227);
        background: linear-gradient(90deg, rgba(227,227,227,0.4) 0%, rgba(227,227,227,1) 35%);
        padding-left: 1em;
      }
    
    .collapsed a {
      max-width: 2em;
      transition: max-width 300ms ease-in-out;
    }
      .collapsed a:hover,
      .collapsed a:focus,
      .collapsed li:hover a {
        max-width: 1000px;
      }
      .collapsed li:hover:after {
        padding-left: 0em;
        background: transparent;
      }
  
}


/*************************medium*****/

@media screen and (max-width: 768px) {
    .sidebar {
        height: 100vh;
        /* 100% Full-height */
        width: 20%;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 2;
        /* Stay on top */
        top: 0;
        left: 0;
        background-color: #004D00;
        /* Black*/
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 60px;
        /* Place content 60px from the top */
        transition: 0.5s;
        /* 0.5 second transition effect to slide in the sidebar */
        display: none;
    }
    .sidebar a {
        padding: 8px 8px 8px 10px;
        text-decoration: none;
        font-size: 22pt;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }
    .navbar-brand {
        padding-left: 0px !important;
        font-size: 21pt !important;
        cursor: default !important;
        color: white !important;
    }
    #titulo {
        margin-left: 120px;
        display: flex;
        position: absolute;
    }
}


/*************************small*****/

@media screen and (max-width: 576px) {
    .navbar-brand {
        padding-left: 0px !important;
        font-size: 15pt !important;
        cursor: default !important;
        color: white !important;
    }
    .sidebar {
        height: 100vh;
        /* 100% Full-height */
        width: 30% !important;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 2;
        /* Stay on top */
        top: 0;
        left: 0;
        background-color: #004D00;
        /* Black*/
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 60px;
        /* Place content 60px from the top */
        transition: 0.5s;
        /* 0.5 second transition effect to slide in the sidebar */
        display: none;
    }
    .sidebar a {
        padding: 8px 8px 8px 10px;
        text-decoration: none;
        font-size: 20pt;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }
    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 24pt;
        margin-left: 50px;
        background-color: #004D00;
        color: white;
        border-radius: 5px;
    }
    .fa {
        font-size: 7vw !important;
    }
    .fa-times {
        font-size: 15px !important ;
    }
    .fa-check {
        font-size: 15px !important;
    }
    #titulo {
        margin-left: 100px;
        display: flex;
        position: absolute;
    }
    #logo {
        
        height: 40px !important;
        width: 50px !important;
    }
    #bc{
        font-size: 20px !important;
    }
    .thead{
        font-size: 10px !important;
    }
    .formtitle{
        font-size: 14px !important;
    }
}


/*************************lower than small lang*****/

@media screen and (max-width: 450px) {
    .sidebar {
        height: 100vh;
        /* 100% Full-height */
        width: 50% !important;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Stay on top */
        top: 0;
        left: 0;
        background-color: #004D00;
        /* Black*/
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 60px;
        /* Place content 60px from the top */
        transition: 0.5s;
        /* 0.5 second transition effect to slide in the sidebar */
        display: none;
    }
    .sidebar a {
        padding: 8px 8px 8px 10px;
        text-decoration: none;
        font-size: 20pt;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }
    .fa {
        font-size: 10vw !important;
    }
    .fa-times {
        font-size: 15px !important ;
    }
    .fa-check {
        font-size: 15px !important;
    }
    .navbar-brand {
        padding-left: 0px !important;
        font-size: 15pt !important;
        cursor: default !important;
        color: white !important;
    }
    .main {
        overflow: hidden !important;
        overflow-y: scroll !important;
    }
    #titulo {
        margin-left: 80px;
        display: flex;
        position: absolute;
    }
}

@media screen and (max-width: 360px) {
    .sidebar {
        height: 100vh;
        /* 100% Full-height */
        width: 50% !important;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Stay on top */
        top: 0;
        left: 0;
        background-color: #004D00;
        /* Black*/
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 60px;
        /* Place content 60px from the top */
        transition: 0.5s;
        /* 0.5 second transition effect to slide in the sidebar */
        display: none;
    }
    .sidebar a {
        padding: 8px 8px 8px 10px;
        text-decoration: none;
        font-size: 18pt;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }
    .main {
        overflow: hidden !important;
        overflow-y: scroll !important;
    }
    #close {
        justify-content: center !important;
    }
    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 15px;
        font-size: 24pt;
        margin-left: 50px;
        background-color: #004D00;
        color: white;
        border-radius: 5px;
    }
    #titulo {
        margin-left: 60px;
        display: flex;
        position: absolute;
    }
}