@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*****************************************SIDEBAR*******************************/
input{
    border: 1px solid rgb(0, 0, 0) !important;
}
.sidebar {
    height: 100%;
    width: 140px !important;
    position: fixed;
    /* Stay in place */
    top: 0;
    left: 0;
    background-color: #505b66;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    z-index: 3 !important;
    /* Stay on top */
}

#icons {
    margin: 10px;
    margin-top: 12px !important;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*for active button correspond to its html site*/

#active {
    color: #ffffff;
    background-color: #1f8089e1;
    transform: scale(1);
}


/* The sidebar links */

.sidebar a {
    padding: 8px 8px 8px 10px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    text-align: center;
}


/* When you mouse over the navigation links, change their color */



.sidebar a:hover {
    color: #ffffff;
    background-color: #42aab354;
    transition: .2s ease-in;
    border-right: 4px solid white;
    
}
#active:hover {
    color: none;
    background-color: none;
    transition: none;
    border-right: none;
    
    
}

.sidebar a:focus {
    color: #ffffff;
    border-right: 2px solid white;
    animation: anim shadow .3s forwards;
    background-color: #1c625dcc;
    transition: .2s ease-in;
    transform: scale(1.2);
   
}
/* Position and style the close button (top) */

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    background-color: #505b66;
    color: white;
    border-radius: 5px;
    border: none;
}


/***************************************** NAVBAR*******************************/


/* The button used to open the sidebar */

#openbtn:hover {
    color: #c52020d8 !important;
    transition: 0.3s;
}

.navbar {
    background-color: #10000098!important;
    color: white !important;
    width: 100% !important;
    height: 100px;
    margin-left: auto;
    cursor: default !important;
    position: absolute;
    z-index: 1;
}

.navbar-brand {
    font-size: 40px !important;
    cursor: default !important;
    color: white !important;
}

#titulo {
    margin-left: 200px;
    display: flex;
    position: absolute;
}


/*****************************************main contents*******************************/

.jumbotron {
    border-radius: 10px !important;
}

.container {
    display: flex;
    width: 40%;
    margin-top: 5%;
    justify-content: flex-end;
}




/*to do card style*/

#to-do {
    color: #505b66;
    font-size: 60px !important;
    font-weight: lighter !important;
    cursor: default;
    margin-top: -78px !important;
    margin-bottom: 5px;
}


/*to-do text area*/

#textarea1 {
    border-radius: 10px;
    
}

.jumbotron {
    border-radius: 10px !important;
}


/*clock**/

.clock {
    background: #505b66;
    padding: 10px;
    text-align: center;
    border-radius: 10px !important;
}

.clock-time,
.clock-ampm {
    font-size: 50px;
    color: #fff;
}

.clock-time {
    font-size: 60px;
}


/*calendar*/

.calendar_holder {
    margin-top: 3%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
}

.wrapper {
    background: #fff;
    border-bottom-left-radius: 2%;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
    border-radius: 10px !important;
    width: 100% !important;
}

.wrapper header {
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
    background: #505b66;
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
}

header .icons {
    display: flex;
}

header .icons span {
    height: 38px;
    width: 38px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
}

.icons span:last-child {
    margin-right: -10px;
}

header .icons span:hover {
    background: #f2f2f2;
    color: #505b66;
}

header .current-date {
    font-size: 1.45rem;
    font-weight: 500;
}

.calendar {
    padding: 20px;
    border-radius: 10px !important;
}

.calendar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

.calendar .days {
    margin-bottom: 20px;
}

.calendar li {
    color:#505b66;
    width: calc(100% / 7);
    font-size: 1.07rem;
}

.calendar .weeks li {
    font-weight: 500;
    cursor: default;
}

.calendar .days li {
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
}

.days li.inactive {
    color:#505b66;
}

.days li.active {
    color: #fff;
}

.days li::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.days li.active::before {
    background: #505b66;
}

.days li:not(.active):hover::before {
    background: #f2f2f2;
}

.current-date {
    color: #fff;
}
#set2{
    margin-right:100px !important ;
}

#net_notif{
    font-size: 12px !important;
    color: white !important;

    border-radius: 100px;
    background-color: red;
    font-weight: bolder;
    position: absolute;

}

#id_notif{
    font-size: 12px !important;
    color: white !important;

    border-radius: 100px;
    background-color: red;
    font-weight: bolder;
    position: absolute;
    margin-left: 15px;
}

#sched_notif{
    font-size: 12px !important;
    color: white !important;

    border-radius: 100px;
    background-color: red;
    font-weight: bolder;
    position: absolute;
}

#report_notif{
    font-size: 12px !important;
    color: white !important;

    border-radius: 100px;
    background-color: red;
    font-weight: bolder;
    position: absolute;
}

#lo{
    position: relative;
    top: 68%;
    padding-bottom: 15px;
    
}
/*****************************************BACKGROUND*******************************/

html,
body,
header,
#pic {
    background-image: url("/static/images/GRAYBG.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.view {
    background-image: url("/static/images/GRAYBG.jpg");
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}


/*****************************************SCREEN ADJUSTMENTS*******************************/


/*************************xtra large*****/


/*************************paglumagpas sa max width mababalik sa default setup*****/

@media screen and (max-width: 1200px) {
    .sidebar {
        height: 100%;
        width: 19% !important;
        position: fixed;
        /* Stay in place */
        top: 0;
        left: 0;
        background-color: #505b66;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
        z-index: 2;
        /* Stay on top */
    }
    #hp {
        margin-left: 0px !important;
        font-size: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    /* The sidebar links */
    .sidebar a {
        padding: 8px 8px 8px 10px;
        text-decoration: none;
        font-size: 25px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }
    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 35px;
        font-size: 24pt;
        margin-left: 50px;
        background-color: #505b66;
        color: white;
        border-radius: 5px;
        border: none;
    }
    .navbar-brand {
        padding-left: 0px !important;
        font-size: 21pt !important;
        cursor: default !important;
        color: white !important;
    }
}


/*************************large*****/

@media screen and (max-width: 991px) {
    .sidebar {
        height: 100%;
        width: 18% !important;
        position: fixed;
        /* Stay in place */
        top: 0;
        left: 0;
        background-color: #505b66;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
        z-index: 2;
        /* Stay on top */
    }
    #hp {
        margin-left: 0px !important;
        font-size: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    /* The sidebar links */
    .sidebar a {
        padding: 8px 8px 8px 10px;
        text-decoration: none;
        font-size: 24pt;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }
    .navbar-brand {
        padding-left: 0px !important;
        font-size: 21pt !important;
        cursor: default !important;
        color: white !important;
    }
    li:after {
     
        position: absolute;
        display: inline-block;
        right: 0;
        width: 2em;
        text-align: center;
      }
    li:last-child {
      font-weight: bold;
    }
      li:last-child:after {
        content: '';
      }
    
    a {
      text-decoration: none;
      display: inline-block;
      color: #333;
      white-space: nowrap;
    }
      a:hover {
        text-decoration: underline;
      }
    
    
    /* Collapsed breadcrumbs */
    
    .collapsed li {
      overflow: hidden;
    }
      .collapsed li:after {
        background: rgb(227,227,227);
        background: linear-gradient(90deg, rgba(227,227,227,0.4) 0%, rgba(227,227,227,1) 35%);
        padding-left: 1em;
      }
    
    .collapsed a {
      max-width: 2em;
      transition: max-width 300ms ease-in-out;
    }
      .collapsed a:hover,
      .collapsed a:focus,
      .collapsed li:hover a {
        max-width: 1000px;
      }
      .collapsed li:hover:after {
        padding-left: 0em;
        background: transparent;
      }
}


/*************************medium*****/

@media screen and (max-width: 768px) {
    .sidebar {
        height: 100vh;
        /* 100% Full-height */
        width: 17%;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 2;
        /* Stay on top */
        top: 0;
        left: 0;
        background-color: #505b66;
        /* Black*/
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 60px;
        /* Place content 60px from the top */
        transition: 0.5s;
        /* 0.5 second transition effect to slide in the sidebar */
        display: none;
    }
    .sidebar a {
        padding: 8px 8px 8px 10px;
        text-decoration: none;
        font-size: 22pt;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }
    .navbar-brand {
        padding-left: 0px !important;
        font-size: 21pt !important;
        cursor: default !important;
        color: white !important;
    }
    #titulo {
        margin-left: 120px;
        display: flex;
        position: absolute;
    }
}


/*************************small*****/

@media screen and (max-width: 576px) {
    .navbar-brand {
        padding-left: 0px !important;
        font-size: 21pt !important;
        cursor: default !important;
        color: white !important;
    }
    .sidebar {
        height: 100vh;
        /* 100% Full-height */
        width: 20% !important;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 2;
        /* Stay on top */
        top: 0;
        left: 0;
        background-color: #505b66;
        /* Black*/
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 60px;
        /* Place content 60px from the top */
        transition: 0.5s;
        /* 0.5 second transition effect to slide in the sidebar */
        display: none;
    }
    .sidebar a {
        padding: 8px 8px 8px 10px;
        text-decoration: none;
        font-size: 20pt;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }
    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 24pt;
        margin-left: 50px;
        background-color: #505b66;
        color: white;
        border-radius: 5px;
    }
    .fa {
        font-size: 7vw !important;
    }
    #titulo {
        margin-left: 100px;
        display: flex;
        position: absolute;
    }
    #logo {
        
        height: 40px !important;
        width: 50px !important;
    }
    .navbar-brand {
        padding-right: 40px !important;
        font-size: 14pt !important;
        cursor: default !important;
        color: white !important;
        
    }
    header .current-date {
        font-size: 1rem;
        font-weight: 500;
    }
    #to-do {
        color: #505b66;
        font-size: 35px !important;
        font-weight: lighter !important;
        cursor: default;
        margin-top: -78px !important;
        margin-bottom: 5px;
    }
}


/*************************lower than small lang*****/

@media screen and (max-width: 450px) {
    .sidebar {
        height: 100vh;
        /* 100% Full-height */
        width: 50% !important;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Stay on top */
        top: 0;
        left: 0;
        background-color: #505b66;
        /* Black*/
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 60px;
        /* Place content 60px from the top */
        transition: 0.5s;
        /* 0.5 second transition effect to slide in the sidebar */
        display: none;
    }
    .sidebar a {
        padding: 8px 8px 8px 10px;
        text-decoration: none;
        font-size: 20pt;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }
    .fa {
        font-size: 10vw !important;
    }
    .navbar-brand {
        padding-left: 0px !important;
        font-size: 14pt !important;
        cursor: default !important;
        color: white !important;
    }
    .main {
        overflow: hidden !important;
        overflow-y: scroll !important;
    }
    #titulo {
        margin-left: 80px;
        display: flex;
        position: absolute;
    }
    .clock-time,
    .clock-ampm {
    font-size: 40px;
    color: #fff;
    }

    .clock-time {
        font-size: 50px;
    }
    #to-do {
        color: #662525;
        font-size: 20px !important;
        font-weight: lighter !important;
        cursor: default;
        margin-top: -78px !important;
        margin-bottom: 5px;
    }
}


@media screen and (max-width: 360px) {
    .sidebar {
        height: 100vh;
        /* 100% Full-height */
        width: 50% !important;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Stay on top */
        top: 0;
        left: 0;
        background-color: #505b66;
        /* Black*/
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 60px;
        /* Place content 60px from the top */
        transition: 0.5s;
        /* 0.5 second transition effect to slide in the sidebar */
        display: none;
    }
    .sidebar a {
        padding: 8px 8px 8px 10px;
        text-decoration: none;
        font-size: 18pt;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }
    .main {
        overflow: hidden !important;
        overflow-y: scroll !important;
    }
    #close {
        justify-content: center !important;
    }
    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 15px;
        font-size: 24pt;
        margin-left: 50px;
        background-color: #505b66;
        color: white;
        border-radius: 5px;
    }
    #titulo {
        margin-left: 60px;
        display: flex;
        position: absolute;
    }
}