* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*****************************************SIDEBAR*******************************/
input{
    border: 1px solid rgb(0, 0, 0) !important;
}
.sidebar {
    height: 100%;
    width: 140px !important;
    position: fixed;
    /* Stay in place */
    top: 0;
    left: 0;
    background-color: #505b66;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    z-index: 2;
    /* Stay on top */
}

#icons {
    margin: 10px;
    margin-top: 12px !important;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*for active button correspond to its html site*/

#active {
    color: #ffffff;
    background-color: #1f8089e1;
    transform: scale(1);
}


/*for logo border*/

#logo {
    float: right !important;
}


/* The sidebar links */

.sidebar a {
    padding: 8px 8px 8px 10px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    text-align: center;
}


/* When you mouse over the navigation links, change their color */

.sidebar a:hover {
    color: #ffffff;
    background-color: #42aab354;
    transition: .2s ease-in;
    border-right: 4px solid white;
    
}
#active:hover {
    color: none;
    background-color: none;
    transition: none;
    border-right: none;
    
    
}

.sidebar a:focus {
    color: #ffffff;
    border-right: 2px solid white;
    animation: anim shadow .3s forwards;
    background-color: #1c625dcc;
    transition: .2s ease-in;
    transform: scale(1.2);
   
}


/* Position and style the close button (top) */

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    background-color: #505b66;
    color: white;
    border-radius: 5px;
    border: none;
}


/***************************************** NAVBAR*******************************/


/* The button used to open the sidebar */

#openbtn:hover {
    color: rgb(11, 125, 137) !important;
    transition: 0.3s;
}

.navbar {
    background-color: #10000098!important;
    color: white !important;
    width: 100% !important;
    height: 100px;
    margin-left: auto;
    cursor: default !important;
    position: absolute;
    z-index: 1;
}

.navbar-brand {
    font-size: 40px !important;
    cursor: default !important;
    color: white !important;
}

#titulo {
    margin-left: 200px;
    display: flex;
    position: absolute;
}


/*****************************************breadcrumb*******************************/

.breadcrumb {
    background-color: #959393ae !important;
}

.breadcrumb a,
.breadcrumb a:hover {
    color: #fff;
    font-weight: lighter;
    font-size: 18pt;
    font-family: 'Barlow Condensed', sans-serif;
}


/*****************************************main contents*******************************/

.jumbotron {
    border-radius: 10px !important;
}




/* border bottom line of the form title*/

.formtitle {
    border-bottom: 1px solid #959393ae !important;
}


/*descriptions on form style*/

.descriptions {
    text-align: center;
    background-color: #959393ae !important;
    color: rgb(0, 0, 0);
    margin-top: 6px;
}


/*terms and condition*/

.checkbox {
    display: flex;
    justify-content: center;
}


/* button position on card*/

.btnmove {
    float: right !important;
}

#btn3:hover {
    border: 2px solid BLUE !important;
    background-color: #ffffff;
    transition: .2s ease-in-out;
    color: blue;
    font-weight: bold;
}

#btn4:hover {
    border: 2px solid RED !important;
    background-color: #ffffff;
    transition: .2s ease-in-out;
    color: RED;
    font-weight: bold;
}


/*to do card style*/

#to-do {
    color: #05a2a0ef;
    font-size: 60px !important;
    font-weight: lighter !important;
    padding-bottom: 40px !important;
    padding-top: 0px !important;
    cursor: default;
    margin-top: -80px !important;
    margin-bottom: -10px;
}


/*to-do text area*/

#textarea1 {
    border-radius: 20px;
}

#studwifiform {
    height: 550px;
    overflow: hidden;
    overflow-y: scroll;
}
#studaccessform {
    height: 550px;
    overflow: hidden;
    overflow-y: scroll;
}
.active {
 
    background-color: #0cbebcef;
    border-radius: 5px;
}
#vids{
    width: 560px;
    height:315px;
   
}
#net_notif{
    font-size: 12px !important;
    color: white !important;

    border-radius: 100px;
    background-color: red;
    font-weight: bolder;
    position: absolute;

}

#id_notif{
    font-size: 12px !important;
    color: white !important;

    border-radius: 100px;
    background-color: red;
    font-weight: bolder;
    position: absolute;
    margin-left: 15px;
}

#sched_notif{
    font-size: 12px !important;
    color: white !important;

    border-radius: 100px;
    background-color: red;
    font-weight: bolder;
    position: absolute;
}

#report_notif{
    font-size: 12px !important;
    color: white !important;

    border-radius: 100px;
    background-color: red;
    font-weight: bolder;
    position: absolute;
}

#lo{
    position: relative;
    top: 68%;
    padding-bottom: 15px;
    
}
/*****************************************BACKGROUND*******************************/

html,
body,
header,
#pic {
    background-image: url("/static/images/GRAYBG.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.view {
    background-image: url("/static/images/GRAYBG.jpg");
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}


.signContainer canvas {
    border: 1px solid #d6d8d9;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.tempContDiv input[type="text"]:hover,
.tempContDiv textarea:hover,
.mSelect select:hover,
.tempContDiv input[type="file"]:hover,
.form_sBox:hover,
.signContainer .signArea:hover,
.signContainer canvas:hover {
    border: 1px solid #a5a5a5 !important;
}

.tempContDiv input[type="text"]:focus,
.tempContDiv textarea:focus,
.mSelect select:focus,
.tempContDiv input[type="file"]:focus,
.form_sBox:focus,
.signContainer .signArea:focus,
.signContainer canvas:focus {
    border: 1px solid #24A68A !important;
}

.formFieldWrapper .error .tempContDiv input[type="text"]:focus,
.formFieldWrapper .error .tempContDiv textarea:focus,
.formFieldWrapper .error .tempContDiv .form_sBox:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.subContWrap {
    margin: 0px;
    margin-bottom: 0;
}

.phone .tempContDiv label,
.date .tempContDiv label,
.time .tempContDiv label,
.address .tempContDiv label,
.name .tempContDiv span label {
    color: #7c7c7c;
    font-size: 13px !important;
}

.date .tempContDiv .calendarIcon {
    margin-top: 5px;
}

.fmFooter {
    text-align: center;
    overflow: hidden;
    padding: 25px 30px;
}

.fmSmtButton {
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: 10px 40px 10px 40px;
    font-weight: 400;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 15px;
    font-family: "Arimo", sans-serif;
}

.submitColor {
    color: #fff;
    border: 1px solid;
    border-color: #24A68A;
    background: #24A68A;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.submitColor:hover {
    background: #24A68A;
}

.saveColor,
.reviewBtn {
    color: #fff;
    border: 1px solid;
    border-color: #494949;
    background: #494949;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.saveColor:hover,
.reviewBtn:hover {
    background: #494949;
}

.cancelColor {
    color: #444;
    border: solid 1px #ccc;
    background: #eaeaea;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F4F4F4));
    background: -moz-linear-gradient(top, #FFFFFF, #F4F4F4);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F4F4F4');
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px #fff inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    text-shadow: 0px 2px 0px #fff;
}

.cancelColor:hover {
    border: 1px solid #aaa;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F4F4F4));
    background: -moz-linear-gradient(top, #FFFFFF, #F4F4F4);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F4F4F4');
}

.brandingContainer {
    text-align: right;
    color: #666;
    border-top: 1px dashed #ccc;
    margin-top: 10px;
    padding: 15px;
}

.form_sBox {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #d6d8d9;
    height: 31px;
}

.fmFooter .next_previous {
    padding: 10px 30px 10px 30px;
    background: #ebedef;
    border: 1px solid #c9c9c9;
    color: #222;
    padding: 10px 7px;
    font-size: 15px;
    padding: 10px 35px;
    min-height: 30px;
    min-width: 75px;
}

.pageFotDef .prevAlign {
    float: left;
}

.pageFotDef .alignNext {
    float: right;
}

.pageFotDef .submitColor {
    float: none;
}

.pBarWrapper {
    margin-top: 20px !important;
    padding: 20px 30px 10px;
}

.pBarWrapper .selected em.pNumber {
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0);
}

.pBarWrapper .selected .pBar,
.pBarWrapper .selected em.pNumber b {
    background: #24A68A;
}

.pBarWrapper .currentPTab em.pNumber {
    color: #fff;
    border: 2px solid #24A68A;
}

.bar .currentPTab .pArrow {
    border-color: #24A68A transparent;
}

.form_sBox .customArrow {
    right: 3px;
    top: 5px !important;
}

.form_sBox select {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-right: 20px !important;
    padding-left: 3px !important;
}

.commentBg {
    background: #f4f4f4;
}

.commentBg .backgroundSecBg {
    padding: 30px;
}

.signContainer .signArea,
.tempContDiv input[type="file"],
.mSelect select {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #d2d2d2;
}

.subfrmWrapper-horizontal ul {
    background: #f9f9f9;
}

.instruction {
    color: #7c7c7c;
    font-size: 13px !important;
    font-style: normal;
}

.section {
    padding: 10px 30px;
}

.section h2 {
    font-size: 18px;
    border-bottom: 1px solid #d6d8d9;
    font-family: "Arimo", sans-serif;
    letter-spacing: 0.3px;
}

.uploadContainer::before {
    border-color: #d6d8d9;
}

.slider .tempContDiv .ui-slider .ui-slider-range {
    background: #24a68a;
}

.mSelect select[multiple]:focus option:checked {
    background: #24A68B linear-gradient(0deg, #24A68B 0%, #24A68B 100%);
}

.uploadContainer:hover::before,
.uploadContainer:focus::before,
.uploadContainer:active::before {
    border-color: #a5a5a5;
}

.themePopupInnerCont .backgroundSecBg {
    padding: 30px;
}

.subfrmWrapper-horizontal {
    overflow-y: hidden;
    border-color: #d6d8d9;
    border-radius: 3px;
}

.signContainer a {
    color: #24A68A;
}

.uploadContainer .floatText a {
    color: #24A68A;
    font-family: "Arimo", sans-serif !important;
}

.signContainer canvas:hover,
.signContainer canvas:focus {
    border-color: #24A68A;
    outline: none;
}

/*****************************************SCREEN ADJUSTMENTS*******************************/


/*************************xtra large*****/


/*************************paglumagpas sa max width mababalik sa default setup*****/

@media screen and (max-width: 1200px) {
    .sidebar {
        height: 100%;
        width: 19% !important;
        position: fixed;
        /* Stay in place */
        top: 0;
        left: 0;
        background-color: #505b66;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
        z-index: 2;
        /* Stay on top */
    }
    #hp {
        margin-left: 0px !important;
        font-size: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    /* The sidebar links */
    .sidebar a {
        padding: 8px 8px 8px 10px;
        text-decoration: none;
        font-size: 25px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }
    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 35px;
        font-size: 24pt;
        margin-left: 50px;
        background-color: #505b66;
        color: white;
        border-radius: 5px;
        border: none;
    }
    .navbar-brand {
        padding-left: 0px !important;
        font-size: 21pt !important;
        cursor: default !important;
        color: white !important;
    }
}


/*************************large*****/

@media screen and (max-width: 991px) {
    .sidebar {
        height: 100%;
        width: 18% !important;
        position: fixed;
        /* Stay in place */
        top: 0;
        left: 0;
        background-color: #505b66;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
        z-index: 2;
        /* Stay on top */
    }
    #hp {
        margin-left: 0px !important;
        font-size: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    /* The sidebar links */
    .sidebar a {
        padding: 8px 8px 8px 10px;
        text-decoration: none;
        font-size: 24pt;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }
    .navbar-brand {
        padding-left: 0px !important;
        font-size: 21pt !important;
        cursor: default !important;
        color: white !important;
    }
    li:after {
     
        position: absolute;
        display: inline-block;
        right: 0;
        width: 2em;
        text-align: center;
      }
    li:last-child {
      font-weight: bold;
    }
      li:last-child:after {
        content: '';
      }
    
    a {
      text-decoration: none;
      display: inline-block;
      color: #333;
      white-space: nowrap;
    }
      a:hover {
        text-decoration: underline;
      }
    
    
    /* Collapsed breadcrumbs */
    
    .collapsed li {
      overflow: hidden;
    }
      .collapsed li:after {
        background: rgb(227,227,227);
        background: linear-gradient(90deg, rgba(227,227,227,0.4) 0%, rgba(227,227,227,1) 35%);
        padding-left: 1em;
      }
    
    .collapsed a {
      max-width: 2em;
      transition: max-width 300ms ease-in-out;
    }
      .collapsed a:hover,
      .collapsed a:focus,
      .collapsed li:hover a {
        max-width: 1000px;
      }
      .collapsed li:hover:after {
        padding-left: 0em;
        background: transparent;
      }
      #vids{
        width: 360px;
        height:215px;
    }
}


/*************************medium*****/

@media screen and (max-width: 768px) {
    .sidebar {
        height: 100vh;
        /* 100% Full-height */
        width: 17%;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 2;
        /* Stay on top */
        top: 0;
        left: 0;
        background-color: #505b66;
        /* Black*/
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 60px;
        /* Place content 60px from the top */
        transition: 0.5s;
        /* 0.5 second transition effect to slide in the sidebar */
        display: none;
    }
    .sidebar a {
        padding: 8px 8px 8px 10px;
        text-decoration: none;
        font-size: 22pt;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }
    .navbar-brand {
        padding-left: 0px !important;
        font-size: 18pt !important;
        cursor: default !important;
        color: white !important;
    }
    #titulo {
        margin-left: 120px;
        display: flex;
        position: absolute;
    }
    #vids{
        width: 360px;
        height:215px;
    }
}


/*************************small*****/

@media screen and (max-width: 576px) {
    .navbar-brand {
        padding-left: 0px !important;
        font-size: 15pt !important;
        cursor: default !important;
        color: white !important;
    }
    .sidebar {
        height: 100vh;
        /* 100% Full-height */
        width: 20% !important;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 2;
        /* Stay on top */
        top: 0;
        left: 0;
        background-color: #505b66;
        /* Black*/
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 60px;
        /* Place content 60px from the top */
        transition: 0.5s;
        /* 0.5 second transition effect to slide in the sidebar */
        display: none;
    }
    .sidebar a {
        padding: 8px 8px 8px 10px;
        text-decoration: none;
        font-size: 20pt;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }
    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 24pt;
        margin-left: 50px;
        background-color: #505b66;
        color: white;
        border-radius: 5px;
    }
    .fa {
        font-size: 7vw !important;
    }
    #titulo {
        margin-left: 100px;
        display: flex;
        position: absolute;
    }
    #logo {
        
        height: 40px !important;
        width: 50px !important;
    }
    #bc{
        font-size: 20px !important;
    }
    .thead{
        font-size: 10px !important;
    }
    .formtitle{
        font-size: 14px !important;
    }
    #vid{
        width: 250px !important;
        height:175px !important;
    }
}



/*************************lower than small lang*****/

@media screen and (max-width: 450px) {
    .sidebar {
        height: 100vh;
        /* 100% Full-height */
        width: 50% !important;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Stay on top */
        top: 0;
        left: 0;
        background-color: #505b66;
        /* Black*/
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 60px;
        /* Place content 60px from the top */
        transition: 0.5s;
        /* 0.5 second transition effect to slide in the sidebar */
        display: none;
    }
    .sidebar a {
        padding: 8px 8px 8px 10px;
        text-decoration: none;
        font-size: 20pt;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }
    .fa {
        font-size: 10vw !important;
    }
    .navbar-brand {
        padding-left: 0px !important;
        font-size: 12pt !important;
        cursor: default !important;
        color: white !important;
    }
    .main {
        overflow: hidden !important;
        overflow-y: scroll !important;
    }
    #titulo {
        margin-left: 80px;
        display: flex;
        position: absolute;
    }
    #vids{
        width: 160px;
        height:115px;
    }
    #wordterms{
        font-size: 12px !important;
    }
}


@media screen and (max-width: 360px) {
    .sidebar {
        height: 100vh;
        /* 100% Full-height */
        width: 50% !important;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Stay on top */
        top: 0;
        left: 0;
        background-color: #505b66;
        /* Black*/
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 60px;
        /* Place content 60px from the top */
        transition: 0.5s;
        /* 0.5 second transition effect to slide in the sidebar */
        display: none;
    }
    .sidebar a {
        padding: 8px 8px 8px 10px;
        text-decoration: none;
        font-size: 18pt;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }
    .main {
        overflow: hidden !important;
        overflow-y: scroll !important;
    }
    #close {
        justify-content: center !important;
    }
    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 15px;
        font-size: 24pt;
        margin-left: 50px;
        background-color: #505b66;
        color: white;
        border-radius: 5px;
    }
    #titulo {
        margin-left: 60px;
        display: flex;
        position: absolute;
    }
}

.signContainer canvas {
    border: 1px solid #d6d8d9;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.tempContDiv input[type="text"]:hover,
.tempContDiv textarea:hover,
.mSelect select:hover,
.tempContDiv input[type="file"]:hover,
.form_sBox:hover,
.signContainer .signArea:hover,
.signContainer canvas:hover {
    border: 1px solid #a5a5a5 !important;
}

.tempContDiv input[type="text"]:focus,
.tempContDiv textarea:focus,
.mSelect select:focus,
.tempContDiv input[type="file"]:focus,
.form_sBox:focus,
.signContainer .signArea:focus,
.signContainer canvas:focus {
    border: 1px solid #24A68A !important;
}

.formFieldWrapper .error .tempContDiv input[type="text"]:focus,
.formFieldWrapper .error .tempContDiv textarea:focus,
.formFieldWrapper .error .tempContDiv .form_sBox:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.subContWrap {
    margin: 0px;
    margin-bottom: 0;
}

.phone .tempContDiv label,
.date .tempContDiv label,
.time .tempContDiv label,
.address .tempContDiv label,
.name .tempContDiv span label {
    color: #7c7c7c;
    font-size: 13px !important;
}

.date .tempContDiv .calendarIcon {
    margin-top: 5px;
}

.fmFooter {
    text-align: center;
    overflow: hidden;
    padding: 25px 30px;
}

.fmSmtButton {
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: 10px 40px 10px 40px;
    font-weight: 400;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 15px;
    font-family: "Arimo", sans-serif;
}

.submitColor {
    color: #fff;
    border: 1px solid;
    border-color: #24A68A;
    background: #24A68A;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.submitColor:hover {
    background: #24A68A;
}

.saveColor,
.reviewBtn {
    color: #fff;
    border: 1px solid;
    border-color: #494949;
    background: #494949;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.saveColor:hover,
.reviewBtn:hover {
    background: #494949;
}

.cancelColor {
    color: #444;
    border: solid 1px #ccc;
    background: #eaeaea;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F4F4F4));
    background: -moz-linear-gradient(top, #FFFFFF, #F4F4F4);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F4F4F4');
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px #fff inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    text-shadow: 0px 2px 0px #fff;
}

.cancelColor:hover {
    border: 1px solid #aaa;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F4F4F4));
    background: -moz-linear-gradient(top, #FFFFFF, #F4F4F4);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F4F4F4');
}

.brandingContainer {
    text-align: right;
    color: #666;
    border-top: 1px dashed #ccc;
    margin-top: 10px;
    padding: 15px;
}

.form_sBox {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #d6d8d9;
    height: 31px;
}

.fmFooter .next_previous {
    padding: 10px 30px 10px 30px;
    background: #ebedef;
    border: 1px solid #c9c9c9;
    color: #222;
    padding: 10px 7px;
    font-size: 15px;
    padding: 10px 35px;
    min-height: 30px;
    min-width: 75px;
}

.pageFotDef .prevAlign {
    float: left;
}

.pageFotDef .alignNext {
    float: right;
}

.pageFotDef .submitColor {
    float: none;
}

.pBarWrapper {
    margin-top: 20px !important;
    padding: 20px 30px 10px;
}

.pBarWrapper .selected em.pNumber {
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0);
}

.pBarWrapper .selected .pBar,
.pBarWrapper .selected em.pNumber b {
    background: #24A68A;
}

.pBarWrapper .currentPTab em.pNumber {
    color: #fff;
    border: 2px solid #24A68A;
}

.bar .currentPTab .pArrow {
    border-color: #24A68A transparent;
}

.form_sBox .customArrow {
    right: 3px;
    top: 5px !important;
}

.form_sBox select {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-right: 20px !important;
    padding-left: 3px !important;
}

.commentBg {
    background: #f4f4f4;
}

.commentBg .backgroundSecBg {
    padding: 30px;
}

.signContainer .signArea,
.tempContDiv input[type="file"],
.mSelect select {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #d2d2d2;
}

.subfrmWrapper-horizontal ul {
    background: #f9f9f9;
}

.instruction {
    color: #7c7c7c;
    font-size: 13px !important;
    font-style: normal;
}

.section {
    padding: 10px 30px;
}

.section h2 {
    font-size: 18px;
    border-bottom: 1px solid #d6d8d9;
    font-family: "Arimo", sans-serif;
    letter-spacing: 0.3px;
}

.uploadContainer::before {
    border-color: #d6d8d9;
}

.slider .tempContDiv .ui-slider .ui-slider-range {
    background: #24a68a;
}

.mSelect select[multiple]:focus option:checked {
    background: #24A68B linear-gradient(0deg, #24A68B 0%, #24A68B 100%);
}

.uploadContainer:hover::before,
.uploadContainer:focus::before,
.uploadContainer:active::before {
    border-color: #a5a5a5;
}

.themePopupInnerCont .backgroundSecBg {
    padding: 30px;
}

.subfrmWrapper-horizontal {
    overflow-y: hidden;
    border-color: #d6d8d9;
    border-radius: 3px;
}

.signContainer a {
    color: #24A68A;
}

.uploadContainer .floatText a {
    color: #24A68A;
    font-family: "Arimo", sans-serif !important;
}

.signContainer canvas:hover,
.signContainer canvas:focus {
    border-color: #24A68A;
    outline: none;
}

.signContainer canvas {
    border: 1px solid #d6d8d9;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.tempContDiv input[type="text"]:hover,
.tempContDiv textarea:hover,
.mSelect select:hover,
.tempContDiv input[type="file"]:hover,
.form_sBox:hover,
.signContainer .signArea:hover,
.signContainer canvas:hover {
    border: 1px solid #a5a5a5 !important;
}

.tempContDiv input[type="text"]:focus,
.tempContDiv textarea:focus,
.mSelect select:focus,
.tempContDiv input[type="file"]:focus,
.form_sBox:focus,
.signContainer .signArea:focus,
.signContainer canvas:focus {
    border: 1px solid #24A68A !important;
}

.formFieldWrapper .error .tempContDiv input[type="text"]:focus,
.formFieldWrapper .error .tempContDiv textarea:focus,
.formFieldWrapper .error .tempContDiv .form_sBox:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.subContWrap {
    margin: 0px;
    margin-bottom: 0;
}

.phone .tempContDiv label,
.date .tempContDiv label,
.time .tempContDiv label,
.address .tempContDiv label,
.name .tempContDiv span label {
    color: #7c7c7c;
    font-size: 13px !important;
}

.date .tempContDiv .calendarIcon {
    margin-top: 5px;
}

.fmFooter {
    text-align: center;
    overflow: hidden;
    padding: 25px 30px;
}

.fmSmtButton {
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: 10px 40px 10px 40px;
    font-weight: 400;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 15px;
    font-family: "Arimo", sans-serif;
}

.submitColor {
    color: #fff;
    border: 1px solid;
    border-color: #24A68A;
    background: #24A68A;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.submitColor:hover {
    background: #24A68A;
}

.saveColor,
.reviewBtn {
    color: #fff;
    border: 1px solid;
    border-color: #494949;
    background: #494949;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.saveColor:hover,
.reviewBtn:hover {
    background: #494949;
}

.cancelColor {
    color: #444;
    border: solid 1px #ccc;
    background: #eaeaea;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F4F4F4));
    background: -moz-linear-gradient(top, #FFFFFF, #F4F4F4);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F4F4F4');
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px #fff inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    text-shadow: 0px 2px 0px #fff;
}

.cancelColor:hover {
    border: 1px solid #aaa;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F4F4F4));
    background: -moz-linear-gradient(top, #FFFFFF, #F4F4F4);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F4F4F4');
}

.brandingContainer {
    text-align: right;
    color: #666;
    border-top: 1px dashed #ccc;
    margin-top: 10px;
    padding: 15px;
}

.form_sBox {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #d6d8d9;
    height: 31px;
}

.fmFooter .next_previous {
    padding: 10px 30px 10px 30px;
    background: #ebedef;
    border: 1px solid #c9c9c9;
    color: #222;
    padding: 10px 7px;
    font-size: 15px;
    padding: 10px 35px;
    min-height: 30px;
    min-width: 75px;
}

.pageFotDef .prevAlign {
    float: left;
}

.pageFotDef .alignNext {
    float: right;
}

.pageFotDef .submitColor {
    float: none;
}

.pBarWrapper {
    margin-top: 20px !important;
    padding: 20px 30px 10px;
}

.pBarWrapper .selected em.pNumber {
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0);
}

.pBarWrapper .selected .pBar,
.pBarWrapper .selected em.pNumber b {
    background: #24A68A;
}

.pBarWrapper .currentPTab em.pNumber {
    color: #fff;
    border: 2px solid #24A68A;
}

.bar .currentPTab .pArrow {
    border-color: #24A68A transparent;
}

.form_sBox .customArrow {
    right: 3px;
    top: 5px !important;
}

.form_sBox select {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-right: 20px !important;
    padding-left: 3px !important;
}

.commentBg {
    background: #f4f4f4;
}

.commentBg .backgroundSecBg {
    padding: 30px;
}

.signContainer .signArea,
.tempContDiv input[type="file"],
.mSelect select {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #d2d2d2;
}

.subfrmWrapper-horizontal ul {
    background: #f9f9f9;
}

.instruction {
    color: #7c7c7c;
    font-size: 13px !important;
    font-style: normal;
}

.section {
    padding: 10px 30px;
}

.section h2 {
    font-size: 18px;
    border-bottom: 1px solid #d6d8d9;
    font-family: "Arimo", sans-serif;
    letter-spacing: 0.3px;
}

.uploadContainer::before {
    border-color: #d6d8d9;
}

.slider .tempContDiv .ui-slider .ui-slider-range {
    background: #24a68a;
}

.mSelect select[multiple]:focus option:checked {
    background: #24A68B linear-gradient(0deg, #24A68B 0%, #24A68B 100%);
}

.uploadContainer:hover::before,
.uploadContainer:focus::before,
.uploadContainer:active::before {
    border-color: #a5a5a5;
}

.themePopupInnerCont .backgroundSecBg {
    padding: 30px;
}

.subfrmWrapper-horizontal {
    overflow-y: hidden;
    border-color: #d6d8d9;
    border-radius: 3px;
}

.signContainer a {
    color: #24A68A;
}

.uploadContainer .floatText a {
    color: #24A68A;
    font-family: "Arimo", sans-serif !important;
}

.signContainer canvas:hover,
.signContainer canvas:focus {
    border-color: #24A68A;
    outline: none;
}

/*****************************************SCREEN ADJUSTMENTS*******************************/


/*************************xtra large*****/


/*************************paglumagpas sa max width mababalik sa default setup*****/

@media screen and (max-width: 1200px) {
    .sidebar {
        height: 100%;
        width: 19% !important;
        position: fixed;
        /* Stay in place */
        top: 0;
        left: 0;
        background-color: #505b66;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
        z-index: 2;
        /* Stay on top */
    }
    #hp {
        margin-left: 0px !important;
        font-size: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    /* The sidebar links */
    .sidebar a {
        padding: 8px 8px 8px 10px;
        text-decoration: none;
        font-size: 25px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }
    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 35px;
        font-size: 24pt;
        margin-left: 50px;
        background-color: #505b66;
        color: white;
        border-radius: 5px;
        border: none;
    }
    .navbar-brand {
        padding-left: 0px !important;
        font-size: 21pt !important;
        cursor: default !important;
        color: white !important;
    }
}


/*************************large*****/

@media screen and (max-width: 991px) {
    .sidebar {
        height: 100%;
        width: 18% !important;
        position: fixed;
        /* Stay in place */
        top: 0;
        left: 0;
        background-color: #505b66;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
        z-index: 2;
        /* Stay on top */
    }
    #hp {
        margin-left: 0px !important;
        font-size: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    /* The sidebar links */
    .sidebar a {
        padding: 8px 8px 8px 10px;
        text-decoration: none;
        font-size: 24pt;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }
    .navbar-brand {
        padding-left: 0px !important;
        font-size: 21pt !important;
        cursor: default !important;
        color: white !important;
    }
    .collapsed li {
        overflow: hidden;
      }
        .collapsed li:after {
        
      
          padding-left: 1em;
        }
      
      .collapsed a {
        max-width: 2em;
        transition: max-width 300ms ease-in-out;
      }
        .collapsed a:hover,
        .collapsed a:focus,
        .collapsed li:hover a {
          max-width: 1000px;
        }
        .collapsed li:hover:after {
          padding-left: 0em;
          background: transparent;
        }
}


/*************************medium*****/

@media screen and (max-width: 768px) {
    .sidebar {
        height: 100vh;
        /* 100% Full-height */
        width: 17%;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 2;
        /* Stay on top */
        top: 0;
        left: 0;
        background-color: #505b66;
        /* Black*/
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 60px;
        /* Place content 60px from the top */
        transition: 0.5s;
        /* 0.5 second transition effect to slide in the sidebar */
        display: none;
    }
    .sidebar a {
        padding: 8px 8px 8px 10px;
        text-decoration: none;
        font-size: 22pt;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }
    .navbar-brand {
        padding-left: 0px !important;
        font-size: 18pt !important;
        cursor: default !important;
        color: white !important;
    }
    #titulo {
        margin-left: 120px;
        display: flex;
        position: absolute;
    }
}


/*************************small*****/

@media screen and (max-width: 576px) {
    .navbar-brand {
        padding-left: 0px !important;
        font-size: 15pt !important;
        cursor: default !important;
        color: white !important;
    }
    .sidebar {
        height: 100vh;
        /* 100% Full-height */
        width: 20% !important;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 2;
        /* Stay on top */
        top: 0;
        left: 0;
        background-color: #505b66;
        /* Black*/
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 60px;
        /* Place content 60px from the top */
        transition: 0.5s;
        /* 0.5 second transition effect to slide in the sidebar */
        display: none;
    }
    .sidebar a {
        padding: 8px 8px 8px 10px;
        text-decoration: none;
        font-size: 20pt;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }
    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 24pt;
        margin-left: 50px;
        background-color: #505b66;
        color: white;
        border-radius: 5px;
    }
    .fa {
        font-size: 7vw !important;
    }
    #titulo {
        margin-left: 100px;
        display: flex;
        position: absolute;
    }
    #logo {
        
        height: 40px !important;
        width: 50px !important;
    }
    #bc{
        font-size: 20px !important;
    }
    .thead{
        font-size: 10px !important;
    }
    .formtitle{
        font-size: 14px !important;
    }
}



/*************************lower than small lang*****/

@media screen and (max-width: 450px) {
    .sidebar {
        height: 100vh;
        /* 100% Full-height */
        width: 50% !important;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Stay on top */
        top: 0;
        left: 0;
        background-color: #505b66;
        /* Black*/
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 60px;
        /* Place content 60px from the top */
        transition: 0.5s;
        /* 0.5 second transition effect to slide in the sidebar */
        display: none;
    }
    .sidebar a {
        padding: 8px 8px 8px 10px;
        text-decoration: none;
        font-size: 20pt;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }
    .fa {
        font-size: 10vw !important;
    }
    .navbar-brand {
        padding-left: 0px !important;
        font-size: 12pt !important;
        cursor: default !important;
        color: white !important;
    }
    .main {
        overflow: hidden !important;
        overflow-y: scroll !important;
    }
    #titulo {
        margin-left: 80px;
        display: flex;
        position: absolute;
    }
}

@media screen and (max-width: 360px) {
    .sidebar {
        height: 100vh;
        /* 100% Full-height */
        width: 50% !important;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Stay on top */
        top: 0;
        left: 0;
        background-color: #505b66;
        /* Black*/
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 60px;
        /* Place content 60px from the top */
        transition: 0.5s;
        /* 0.5 second transition effect to slide in the sidebar */
        display: none;
    }
    .sidebar a {
        padding: 8px 8px 8px 10px;
        text-decoration: none;
        font-size: 18pt;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }
    .main {
        overflow: hidden !important;
        overflow-y: scroll !important;
    }
    #close {
        justify-content: center !important;
    }
    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 15px;
        font-size: 24pt;
        margin-left: 50px;
        background-color: #505b66;
        color: white;
        border-radius: 5px;
    }
    #titulo {
        margin-left: 60px;
        display: flex;
        position: absolute;
    }
}















.signContainer1 canvas {
    border: 1px solid #d6d8d9;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.tempContDiv input[type="text"]:hover,
.tempContDiv textarea:hover,
.mSelect select:hover,
.tempContDiv input[type="file"]:hover,
.form_sBox:hover,
.signContainer1 .signArea:hover,
.signContainer1 canvas:hover {
    border: 1px solid #a5a5a5 !important;
}

.tempContDiv input[type="text"]:focus,
.tempContDiv textarea:focus,
.mSelect select:focus,
.tempContDiv input[type="file"]:focus,
.form_sBox:focus,
.signContainer1 .signArea:focus,
.signContainer1 canvas:focus {
    border: 1px solid #24A68A !important;
}

.formFieldWrapper .error .tempContDiv input[type="text"]:focus,
.formFieldWrapper .error .tempContDiv textarea:focus,
.formFieldWrapper .error .tempContDiv .form_sBox:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.subContWrap {
    margin: 0px;
    margin-bottom: 0;
}

.phone .tempContDiv label,
.date .tempContDiv label,
.time .tempContDiv label,
.address .tempContDiv label,
.name .tempContDiv span label {
    color: #7c7c7c;
    font-size: 13px !important;
}

.date .tempContDiv .calendarIcon {
    margin-top: 5px;
}

.fmFooter {
    text-align: center;
    overflow: hidden;
    padding: 25px 30px;
}

.fmSmtButton {
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: 10px 40px 10px 40px;
    font-weight: 400;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 15px;
    font-family: "Arimo", sans-serif;
}

.submitColor {
    color: #fff;
    border: 1px solid;
    border-color: #24A68A;
    background: #24A68A;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.submitColor:hover {
    background: #24A68A;
}

.saveColor,
.reviewBtn {
    color: #fff;
    border: 1px solid;
    border-color: #494949;
    background: #494949;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.saveColor:hover,
.reviewBtn:hover {
    background: #494949;
}

.cancelColor {
    color: #444;
    border: solid 1px #ccc;
    background: #eaeaea;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F4F4F4));
    background: -moz-linear-gradient(top, #FFFFFF, #F4F4F4);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F4F4F4');
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px #fff inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    text-shadow: 0px 2px 0px #fff;
}

.cancelColor:hover {
    border: 1px solid #aaa;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F4F4F4));
    background: -moz-linear-gradient(top, #FFFFFF, #F4F4F4);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F4F4F4');
}

.brandingContainer1 {
    text-align: right;
    color: #666;
    border-top: 1px dashed #ccc;
    margin-top: 10px;
    padding: 15px;
}

.form_sBox {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #d6d8d9;
    height: 31px;
}

.fmFooter .next_previous {
    padding: 10px 30px 10px 30px;
    background: #ebedef;
    border: 1px solid #c9c9c9;
    color: #222;
    padding: 10px 7px;
    font-size: 15px;
    padding: 10px 35px;
    min-height: 30px;
    min-width: 75px;
}

.pageFotDef .prevAlign {
    float: left;
}

.pageFotDef .alignNext {
    float: right;
}

.pageFotDef .submitColor {
    float: none;
}

.pBarWrapper {
    margin-top: 20px !important;
    padding: 20px 30px 10px;
}

.pBarWrapper .selected em.pNumber {
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0);
}

.pBarWrapper .selected .pBar,
.pBarWrapper .selected em.pNumber b {
    background: #24A68A;
}

.pBarWrapper .currentPTab em.pNumber {
    color: #fff;
    border: 2px solid #24A68A;
}

.bar .currentPTab .pArrow {
    border-color: #24A68A transparent;
}

.form_sBox .customArrow {
    right: 3px;
    top: 5px !important;
}

.form_sBox select {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-right: 20px !important;
    padding-left: 3px !important;
}

.commentBg {
    background: #f4f4f4;
}

.commentBg .backgroundSecBg {
    padding: 30px;
}

.signContainer1 .signArea1,
.tempContDiv input[type="file"],
.mSelect select {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #d2d2d2;
}

.subfrmWrapper-horizontal ul {
    background: #f9f9f9;
}

.instruction {
    color: #7c7c7c;
    font-size: 13px !important;
    font-style: normal;
}

.section {
    padding: 10px 30px;
}

.section h2 {
    font-size: 18px;
    border-bottom: 1px solid #d6d8d9;
    font-family: "Arimo", sans-serif;
    letter-spacing: 0.3px;
}

.uploadContainer::before {
    border-color: #d6d8d9;
}

.slider .tempContDiv .ui-slider .ui-slider-range {
    background: #24a68a;
}

.mSelect select[multiple]:focus option:checked {
    background: #24A68B linear-gradient(0deg, #24A68B 0%, #24A68B 100%);
}

.uploadContainer:hover::before,
.uploadContainer:focus::before,
.uploadContainer:active::before {
    border-color: #a5a5a5;
}

.themePopupInnerCont .backgroundSecBg {
    padding: 30px;
}

.subfrmWrapper-horizontal {
    overflow-y: hidden;
    border-color: #d6d8d9;
    border-radius: 3px;
}

.signContainer1 a {
    color: #24A68A;
}

.uploadContainer1 .floatText a {
    color: #24A68A;
    font-family: "Arimo", sans-serif !important;
}

.signContainer1 canvas:hover,
.signContainer1 canvas:focus {
    border-color: #24A68A;
    outline: none;
}