* {
    padding: 0;
    margin: 0;
}


/******************************************************************row content*************************************************************************************************************/

.row {
    background: url("/static/images/green.png")no-repeat center/cover;
    border-radius: 50px;
    box-shadow: 12px 12px 22px black;
    color: #000;
}

img {
    position: relative !important;
    border-bottom-left-radius:  50px;
    border-top-left-radius:  50px;
    height: 10%;
    width: 20%;
}


/******************************************************************buttons*************************************************************************************************************/

.btn {
    background-color: #720000;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
    transition: 1s ease-in;
    cursor: pointer;
    border-radius: 50px;
    font-weight: light;
    place-items: center;
    width: 70%;
    height: 34px;
    justify-content: center;
    display: flex;
    background: hsla(148, 42%, 18%, 0.8);
    margin: 20px auto;
    border: none;
    outline: none;
    font-size: 20px;
}

.btn:hover {
    background-color: #ffffff;
    transition: .2s ease-in;
    color: #720000;
}

.parent {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.child {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


/********************************************************************************************BACKGROUND AND OVERLAY***************************************************************************************************************************/

html,
body,
header,
#pic {
    background-image: url("/static/images/GREENBG .jpg");
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.view {
    background-image: url("/static/images/GREENBG .jpg");
    color: #fff;
    width: 100%;
    height: auto;
    display: flex;
}

/*************************mga nadagdag mostly for responsiveness*****/


#form2{
    display: none;
}
#form3{
    display: none;
}


.form-row input {
    background-color: rgb(255, 255, 255);
  
    width: 300px  !important;
    border-radius: 5px ;
    border-color: 0%;
    height: 40px;
    margin: -40px;
  

    
}
#desc{
    font-size: 20px !important;
    font-weight: bold !important;
}
#desc2{
    font-size: 20px !important;
    font-weight: bold !important;
    margin: 0;
}
#pd{
    font-size: 20px !important;
    font-weight: bold !important;
}

#pa{
    margin: -5px;
    font-weight: 600;
}

/*************************xtra large*****/


/*************************paglumagpas sa max width mababalik sa default setup*****/

@media screen and (max-width: 1200px) {
    #text1 {
        font-size: 40px !important;
    }
    #text2 {
        font-size: 15px !important;
    }
    #btn1, #btn2, #btn3, #btn4, #btn5, #btn5, #btn6, #btn7, #btn8 {
        font-size: 14px !important;
        height: 25px;
    }
    #desc{
        font-size: 12px !important;
        margin: -20px !important;
        font-weight: bold !important;
    }
    #desc2{
        font-size: 10px !important;
        font-weight: bold !important;
        margin: -20 !important;
    }
    .form-row input {
        background-color: rgb(255, 255, 255);
      
        width: 200px  !important;
        border-radius: 5px ;
        border-color: 0%;
        height: 30px;
        margin: -20px;
        
    }
    #pd{
        font-size: 10px !important;
        font-weight: bold !important;
    }
}
@media screen and (max-width: 1050px) {
    #text1 {
        margin-top: -10px;
        font-size: 30px !important;
    }
   
}


/*************************large*****/

@media screen and (max-width: 991px) {
    img {
        position: relative !important;
        border-bottom-left-radius: 0cm;
        border-top-left-radius: 1cm;
        border-top-right-radius: 1cm;
        height: 100%;
        width: 100%;
    }
    #text1 {
        margin-top: 0px;
        font-size: 40px !important;
    }
    #desc{
        font-size: 18px !important;
        margin: -20px !important;
        font-weight: bold !important;
    }
    #pd{
        font-size: 18px !important;
        font-weight: bold !important;
    }
    .form-row input {
        background-color: rgb(255, 255, 255);
      
        width: 400px  !important;
        border-radius: 5px ;
        border-color: 0%;
        height: 30px;
        margin: -20px;
        
    }
    #btn1, #btn2, #btn3, #btn4, #btn5, #btn5, #btn6, #btn7, #btn8 {
        font-size: 18px !important;
        height: 40px;
    }
}


/*************************medium*****/

@media screen and (max-width: 768px) {}


/*************************small*****/

@media screen and (max-width: 576px) {
    #text1 {
        font-size: 25px !important;
    }
    #btn1 {
        font-size: 14px !important;
    }
    #btn2 {
        font-size: 200px !important;
    }
    #desc{
        font-size: 14px !important;
        margin: -20px !important;
        font-weight: bold !important;
    }
    #pd{
        font-size: 14px !important;
        font-weight: bold !important;
    }
    .form-row input {
        background-color: rgb(255, 255, 255);
      
        width: 300px  !important;
        border-radius: 5px ;
        border-color: 0%;
        height: 30px;
        margin: -20px;
        
    }
    #btn1, #btn2, #btn3, #btn4, #btn5, #btn5, #btn6, #btn7, #btn8 {
        font-size: 20px !important;
        height: 40px;
    }
}


/*************************lower than small lang*****/

@media screen and (max-width: 400px) {
    
    #text1 {
        font-size: 20px !important;
    }
    #text2 {
        font-size: 15px !important;
    }
    #text3 {
        font-size: 15px !important;
    }
    #text4 {
        font-size: 200px !important;
    }
    #desc{
        font-size: 14px !important;
        margin: -20px !important;
        font-weight: bold !important;
    }
    #pd{
        font-size: 14px !important;
        font-weight: bold !important;
    }
    .form-row input {
        background-color: rgb(255, 255, 255);
      
        width: 250px  !important;
        border-radius: 5px ;
        border-color: 0%;
        height: 25px;
        margin: -20px;
        
    }
    #btn1, #btn2, #btn3, #btn4, #btn5, #btn5, #btn6, #btn7, #btn8 {
        font-size: 15px !important;
        height: 30px;
    }
}
@media screen and (max-width: 324px) {
    #btn1 {
        font-size: 14px !important;
    }
    #btn2 {
        font-size: 10px !important;
    }
    #text1 {
        font-size: 20px !important;
    }
    #text2 {
        font-size: 15px !important;
    }
    #text3 {
        font-size: 15px !important;
    }
    #text4 {
        font-size: 15px !important;
    }
    #desc{
        font-size: 10px !important;
        margin: -20px !important;
        font-weight: bold !important;
    }
    #pd{
        font-size: 10px !important;
        font-weight: bold !important;
    }
    .form-row input {
        background-color: rgb(255, 255, 255);
      
        width: 200px  !important;
        border-radius: 5px ;
        border-color: 0%;
        height: 20px;
        margin: -40px;
        
    }
    #btn1, #btn2, #btn3, #btn4, #btn5, #btn5, #btn6, #btn7, #btn8 {
        font-size: 12px !important;
        height: 20px;
    }
}
